{
  "openapi": "3.1.0",
  "info": {
    "title": "Tradeverifyd",
    "description": "\nThe Tradeverifyd API offers advanced capabilities for analyzing supply chain entities and their intricate relationships, enabling users to gain deep insights into the complex dynamics of global trade networks.\n\nFor more information visit [tradeverifyd.com](https://tradeverifyd.com).\n\nIf you have questions regarding specific use cases or how to accomplish them, please reach out to [support@tradeverifyd.com](mailto:support@tradeverifyd.com?subject=Tradeverifyd%20use%20cases) for guidance.\n\nWhen making requests that require a Tradeverifyd API Key make sure the correct HTTP Header is included.\n\nFor example:\n\n```bash\ncurl --silent --location -G 'https://.../v1/search/entities' \\\n--data-urlencode 'name=Contoso Corporation' \\\n--data-urlencode 'jurisdiction=US' \\\n--header \"ocp-apim-subscription-key: $TRADEVERIFYD_API_KEY\"\n```\n",
    "termsOfService": "https://tradeverifyd.com/terms-of-service",
    "contact": {
      "name": "tradeverifyd.com",
      "url": "https://tradeverifyd.com/",
      "email": "support@tradeverifyd.com"
    },
    "license": {
      "name": "Proprietary License",
      "url": "https://tradeverifyd.com/terms-of-service"
    },
    "version": "0.2.0"
  },
  "servers": [
    {
      "url": "https://api.tradeverifyd.com",
      "description": "Production server"
    }
  ],
  "paths": {
    "/v1/search/entities": {
      "get": {
        "tags": [
          "Entity"
        ],
        "summary": "Entity Search",
        "description": "Search for Entities that match the provided search parameters.",
        "operationId": "search_entities_search_entities_get",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Entity name.",
              "title": "Name"
            },
            "description": "Entity name."
          },
          {
            "name": "address",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Entity address.",
              "title": "Address",
              "type": "string",
              "nullable": true
            },
            "description": "Entity address."
          },
          {
            "name": "jurisdiction",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Two-letter ISO country code the entity should be associated with.",
              "title": "Jurisdiction",
              "type": "string",
              "minLength": 2,
              "maxLength": 2,
              "nullable": true
            },
            "description": "Two-letter ISO country code the entity should be associated with."
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "The maximum number of results to return. Must be between 1 and 100, inclusive.",
              "default": 10,
              "title": "Size"
            },
            "description": "The maximum number of results to return. Must be between 1 and 100, inclusive."
          },
          {
            "name": "flagged_only",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "If 'true', results will be limited to Entities currently affected by 1 or more Flags.",
              "default": false,
              "title": "Flagged Only"
            },
            "description": "If 'true', results will be limited to Entities currently affected by 1 or more Flags."
          }
        ],
        "responses": {
          "200": {
            "description": "Entities matching search criteria",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EntitySearchResult"
                  },
                  "title": "Response Search Entities Search Entities Get"
                },
                "examples": {
                  "entity_name_search": {
                    "summary": "Search by entity name",
                    "description": "Find entities matching a specific company name",
                    "value": [
                      {
                        "id": "507f1f77bcf86cd799439011",
                        "name": "Global Manufacturing Corp",
                        "aliases": [
                          "GMC"
                        ],
                        "jurisdiction": "US",
                        "addresses": [
                          "123 Industrial Blvd, Detroit, MI 48201, USA",
                          "456 Factory St, Cleveland, OH 44113, USA"
                        ],
                        "flagged": true,
                        "description": "Large-scale manufacturing company specializing in automotive components",
                        "primary_role": "manufacturer",
                        "url": "https://globalmanufacturingcorp.example",
                        "monitor": true,
                        "references": {
                          "flags": {
                            "total": 2
                          },
                          "relationships": {
                            "total": 15,
                            "from_relationships": {
                              "count": 8
                            },
                            "to_relationships": {
                              "count": 7
                            }
                          },
                          "risk_events": {
                            "total": 1
                          }
                        },
                        "external_ids": [
                          {
                            "id": "US-12345678-901",
                            "type": "duns",
                            "source": "dun_bradstreet"
                          },
                          {
                            "id": "98765432109876543210",
                            "type": "lei",
                            "source": "gleif"
                          }
                        ],
                        "modified_date": "2024-10-15T14:30:00Z"
                      },
                      {
                        "id": "507f1f77bcf86cd799439012",
                        "name": "Global Manufacturing Example Solutions",
                        "aliases": [
                          "GMES"
                        ],
                        "jurisdiction": "CA",
                        "addresses": [
                          "789 Commerce Way, Toronto, ON M5V 3B6, Canada"
                        ],
                        "flagged": false,
                        "description": "Manufacturing solutions provider",
                        "primary_role": "supplier",
                        "references": {
                          "flags": {
                            "total": 0
                          },
                          "relationships": {
                            "total": 3
                          },
                          "risk_events": {
                            "total": 0
                          }
                        },
                        "count_inferred_relationships": {
                          "depth": 3,
                          "value": 3,
                          "flagged_count": 0,
                          "last_updated": "2025-10-08T19:34:19.447000Z"
                        },
                        "modified_date": "2024-10-20T09:15:00Z",
                        "hs_codes": {
                          "incoming": [
                            "52",
                            "5214",
                            "521462"
                          ],
                          "outgoing": [
                            "81",
                            "8105",
                            "810507"
                          ]
                        }
                      }
                    ]
                  },
                  "flagged_entities_only": {
                    "summary": "Search flagged entities only",
                    "description": "Find only entities with active compliance flags",
                    "value": [
                      {
                        "id": "507f1f77bcf86cd799439013",
                        "name": "Risky Suppliers Ltd",
                        "aliases": [
                          "Risky Ltd."
                        ],
                        "jurisdiction": "CN",
                        "addresses": [
                          "Room 1001, Building A, Shenzhen, Guangdong, China"
                        ],
                        "flagged": true,
                        "description": "Electronics components supplier with compliance concerns",
                        "primary_role": "supplier",
                        "monitor": true,
                        "references": {
                          "flags": {
                            "total": 3
                          },
                          "relationships": {
                            "total": 12
                          },
                          "risk_events": {
                            "total": 2
                          }
                        },
                        "modified_date": "2024-10-18T16:45:00Z"
                      }
                    ]
                  },
                  "jurisdiction_search": {
                    "summary": "Search by jurisdiction",
                    "description": "Find entities in a specific country (Germany)",
                    "value": [
                      {
                        "id": "507f1f77bcf86cd799439014",
                        "name": "Great German Engineering Co.",
                        "aliases": [
                          "GEC"
                        ],
                        "jurisdiction": "DE",
                        "addresses": [
                          "Industriestra\u00dfe 42, 70565 Stuttgart, Germany"
                        ],
                        "flagged": false,
                        "description": "High-precision manufacturing and engineering services",
                        "primary_role": "manufacturer",
                        "url": "https://great-engineering-example.de",
                        "references": {
                          "flags": {
                            "total": 0
                          },
                          "relationships": {
                            "total": 8
                          },
                          "risk_events": {
                            "total": 0
                          }
                        },
                        "external_ids": [
                          {
                            "id": "HRB123456",
                            "type": "company_registration",
                            "source": "german_trade_register"
                          }
                        ],
                        "count_inferred_relationships": {
                          "depth": 3,
                          "value": 3,
                          "flagged_count": 1,
                          "last_updated": "2025-01-01T00:00:00Z"
                        },
                        "modified_date": "2024-10-10T11:20:00Z",
                        "hs_codes": {
                          "incoming": [],
                          "outgoing": [
                            "1050"
                          ]
                        }
                      }
                    ]
                  },
                  "empty_results": {
                    "summary": "No matching entities",
                    "description": "Search that returns no results",
                    "value": []
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid search parameters",
            "content": {
              "application/json": {
                "examples": {
                  "missing_search_criteria": {
                    "summary": "Missing required search criteria",
                    "value": {
                      "detail": "Either name or entity_id must be provided"
                    }
                  },
                  "invalid_jurisdiction": {
                    "summary": "Invalid jurisdiction code",
                    "value": {
                      "detail": "Jurisdiction must be a 2-letter ISO country code"
                    }
                  },
                  "invalid_size": {
                    "summary": "Invalid size parameter",
                    "value": {
                      "detail": "Size must be between 1 and 100"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - contact support",
            "content": {
              "application/json": {
                "examples": {
                  "internal_error": {
                    "summary": "Internal server error",
                    "value": {
                      "detail": "Internal server error"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/resolve/entity": {
      "get": {
        "tags": [
          "Entity"
        ],
        "summary": "Entity Resolution",
        "description": "Resolve to the top-scoring Entity that matches the provided search parameters.",
        "operationId": "resolve_entity_resolve_entity_get",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Entity name.",
              "title": "Name"
            },
            "description": "Entity name."
          },
          {
            "name": "address",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Entity address.",
              "title": "Address",
              "type": "string",
              "nullable": true
            },
            "description": "Entity address."
          },
          {
            "name": "jurisdiction",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Two-letter ISO country code the entity should be associated with.",
              "title": "Jurisdiction",
              "type": "string",
              "minLength": 2,
              "maxLength": 2,
              "nullable": true
            },
            "description": "Two-letter ISO country code the entity should be associated with."
          },
          {
            "name": "flagged_only",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "If 'true', results will be limited to Entities currently affected by 1 or more Flags.",
              "default": false,
              "title": "Flagged Only"
            },
            "description": "If 'true', results will be limited to Entities currently affected by 1 or more Flags."
          }
        ],
        "responses": {
          "200": {
            "description": "Best matching entity resolved from search criteria",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EntitySearchResult"
                  },
                  "title": "Response Resolve Entity Resolve Entity Get"
                },
                "examples": {
                  "perfect_name_match": {
                    "summary": "Perfect entity name match",
                    "description": "Exact match found for entity name with high confidence",
                    "value": [
                      {
                        "id": "507f1f77bcf86cd799439015",
                        "name": "Example Contoso Inc.",
                        "aliases": [
                          "CONTOSO",
                          "EX CONTOSO"
                        ],
                        "jurisdiction": "US",
                        "addresses": [
                          "123 Main Street, Anytown, State, 12345"
                        ],
                        "flagged": false,
                        "description": "Multinational technology company specializing in consumer electronics",
                        "primary_role": "manufacturer",
                        "url": "https://contoso.example",
                        "monitor": true,
                        "auto_research": true,
                        "references": {
                          "flags": {
                            "total": 0
                          },
                          "relationships": {
                            "total": 247,
                            "from_relationships": {
                              "count": 156
                            },
                            "to_relationships": {
                              "count": 91
                            }
                          },
                          "risk_events": {
                            "total": 0
                          }
                        },
                        "external_ids": [
                          {
                            "id": "32019387069",
                            "type": "duns",
                            "source": "dun_bradstreet"
                          },
                          {
                            "id": "HWUPKR0MPOU8FGXBT394",
                            "type": "lei",
                            "source": "gleif"
                          },
                          {
                            "id": "CONT",
                            "type": "ticker",
                            "source": "nasdaq"
                          }
                        ],
                        "count_inferred_relationships": {
                          "depth": 3,
                          "value": 3,
                          "flagged_count": 0,
                          "last_updated": "2025-10-08T19:34:19.447000Z"
                        },
                        "modified_date": "2024-10-22T08:30:00Z",
                        "hs_codes": {
                          "incoming": [],
                          "outgoing": [
                            "68",
                            "6802",
                            "680221"
                          ]
                        }
                      }
                    ]
                  },
                  "fuzzy_name_match": {
                    "summary": "Fuzzy entity name match",
                    "description": "Best match found despite slight name variations",
                    "value": [
                      {
                        "id": "507f1f77bcf86cd799439016",
                        "name": "Contoso Inc.",
                        "aliases": [
                          "CONTOSO"
                        ],
                        "jurisdiction": "US",
                        "addresses": [
                          "123 Main Street, Anytown, State, 12345"
                        ],
                        "flagged": false,
                        "description": "Technology corporation developing software, services, and solutions",
                        "primary_role": "manufacturer",
                        "url": "https://contoso.example",
                        "monitor": true,
                        "references": {
                          "flags": {
                            "total": 0
                          },
                          "relationships": {
                            "total": 189
                          },
                          "risk_events": {
                            "total": 0
                          }
                        },
                        "external_ids": [
                          {
                            "id": "06-1232893",
                            "type": "ein",
                            "source": "irs"
                          },
                          {
                            "id": "CONT",
                            "type": "ticker",
                            "source": "nasdaq"
                          }
                        ],
                        "modified_date": "2024-10-21T14:15:00Z"
                      }
                    ]
                  },
                  "jurisdiction_resolved": {
                    "summary": "Resolution with jurisdiction filtering",
                    "description": "Best match within specific jurisdiction constraint",
                    "value": [
                      {
                        "id": "507f1f77bcf86cd799439017",
                        "name": "ACME CORP",
                        "aliases": [
                          "ACME"
                        ],
                        "jurisdiction": "US",
                        "addresses": [
                          "789 1st Street, Anytown, State, 12345"
                        ],
                        "flagged": false,
                        "description": "Multinational automotive manufacturer",
                        "primary_role": "manufacturer",
                        "url": "https://acme.example",
                        "monitor": true,
                        "references": {
                          "flags": {
                            "total": 0
                          },
                          "relationships": {
                            "total": 412,
                            "from_relationships": {
                              "count": 298
                            },
                            "to_relationships": {
                              "count": 114
                            }
                          },
                          "risk_events": {
                            "total": 0
                          }
                        },
                        "external_ids": [
                          {
                            "id": "US-7200001008846",
                            "type": "corporate_number",
                            "source": "us_corporate_number"
                          },
                          {
                            "id": "AC",
                            "type": "ticker",
                            "source": "nyse"
                          }
                        ],
                        "modified_date": "2024-10-19T10:45:00Z"
                      }
                    ]
                  },
                  "flagged_entity_resolved": {
                    "summary": "Flagged entity resolution",
                    "description": "Best match for flagged entity with compliance issues",
                    "value": [
                      {
                        "id": "507f1f77bcf86cd799439018",
                        "name": "Sanctioned Trading LLC",
                        "aliases": [
                          "Sanctioned Trading"
                        ],
                        "jurisdiction": "RU",
                        "addresses": [
                          "123 Red Square, Moscow, Russia"
                        ],
                        "flagged": true,
                        "description": "Trading company with active sanctions flags",
                        "primary_role": "trader",
                        "monitor": true,
                        "auto_research": false,
                        "references": {
                          "flags": {
                            "total": 5
                          },
                          "relationships": {
                            "total": 23
                          },
                          "risk_events": {
                            "total": 3
                          }
                        },
                        "external_ids": [
                          {
                            "id": "RU-1027700132195",
                            "type": "ogrn",
                            "source": "russian_business_register"
                          }
                        ],
                        "modified_date": "2024-10-23T12:00:00Z"
                      }
                    ]
                  },
                  "no_resolution": {
                    "summary": "No entity resolved",
                    "description": "No suitable match found for search criteria",
                    "value": []
                  }
                }
              }
            }
          },
          "422": {
            "description": "Invalid resolution parameters.",
            "content": {
              "application/json": {
                "examples": {
                  "invalid_jurisdiction": {
                    "summary": "Invalid jurisdiction code",
                    "description": "Provided jurisdiction has too many characters",
                    "value": {
                      "detail": [
                        {
                          "type": "string_too_long",
                          "loc": [
                            "query",
                            "jurisdiction"
                          ],
                          "msg": "String should have at most 2 characters",
                          "input": "USA",
                          "ctx": {
                            "max_length": 2
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - contact support",
            "content": {
              "application/json": {
                "examples": {
                  "internal_error": {
                    "summary": "Internal server error",
                    "value": {
                      "detail": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/entities/by-flag-type/{flag_type_id}": {
      "get": {
        "tags": [
          "Entity"
        ],
        "summary": "Get Entities by Flag Type",
        "description": "Get entities that have flags of a specific flag type. To view possible flag types, use\nthe Get Flags Types endpoint `/flags/types`.\n\nThis endpoint allows customers to query entities based on specific compliance flags.\nResults are filtered by organization, meaning only entities with flags that are either\npublic or belong to the user's organization will be returned.\n\nThe response includes a list of entities that have a flag of the specified type, including information\non entity details, Tradeverifyd scores, and flag information.\nBecause the response can be large, entities are returned across multiple pages of the response.\nThe response includes information on the maximum number of pages.\nUse the `limit` parameter to specify how many results should be returned in one page.\nUse the `page` parameter to select a page number.",
        "operationId": "get_entities_by_flag_type_entities_by_flag_type__flag_type_id__get",
        "parameters": [
          {
            "name": "flag_type_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ObjectId of the flag type to filter entities by",
              "title": "Flag Type Id"
            },
            "description": "ObjectId of the flag type to filter entities by"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Page number for pagination",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number for pagination"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Number of entities per page",
              "default": 50,
              "title": "Limit"
            },
            "description": "Number of entities per page"
          }
        ],
        "responses": {
          "200": {
            "description": "Entities with the specified flag type",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Get Entities By Flag Type Entities By Flag Type  Flag Type Id  Get"
                },
                "examples": {
                  "ndaa_1260h_entities": {
                    "summary": "NDAA 1260H flagged entities",
                    "description": "Entities flagged under Section 1260H of the National Defense Authorization Act",
                    "value": {
                      "entities": [
                        {
                          "id": "67ca2eb28f1f60aa37278f33",
                          "name": "EXAMPLE CONTOSO INC.",
                          "jurisdiction": "US",
                          "type": "Company",
                          "status": "Active",
                          "addresses": [
                            "123 Main Street, Anytown, State, 12345"
                          ],
                          "flags": [
                            {
                              "id": "6808e96feb30f71f4da957c8",
                              "created_at": "2025-03-15T00:11:31.376Z",
                              "type": "67db2af315fadaf237af6a0e",
                              "flag_type": "Sanctions & Restricted Entities Risk",
                              "flag_subtype": "1260H Entities",
                              "flag_polarity": -1,
                              "description": "A flag that describes an staged_flag on the OpenSanctions default list.",
                              "sources": [
                                {
                                  "url": "https://www.defense.gov/News/Releases/Release/Article/4023145/"
                                }
                              ]
                            }
                          ],
                          "aliases": [
                            "CONTOSO",
                            "EX CONTOSO"
                          ]
                        }
                      ],
                      "pagination": {
                        "page": 1,
                        "limit": 50,
                        "total_entities": 127,
                        "total_pages": 3,
                        "has_next": true,
                        "has_previous": false
                      },
                      "filter_summary": {
                        "flag_type_id": "67db2af315fadaf237af6a0e",
                        "flag_type": "Sanctions & Restricted Entities Risk",
                        "flag_subtype": "1260H Entities",
                        "flag_polarity": -1
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters",
            "content": {
              "application/json": {
                "examples": {
                  "invalid_object_id": {
                    "summary": "Invalid flag type ID format",
                    "value": {
                      "detail": "flag_type_id must be a valid ObjectId"
                    }
                  },
                  "invalid_pagination": {
                    "summary": "Invalid pagination parameters",
                    "value": {
                      "detail": "page must be >= 1, limit must be >= 1 and <= 500"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Flag type not found",
            "content": {
              "application/json": {
                "examples": {
                  "flag_type_not_found": {
                    "summary": "Flag type does not exist",
                    "value": {
                      "detail": "Flag type not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - contact support",
            "content": {
              "application/json": {
                "examples": {
                  "internal_error": {
                    "summary": "Internal server error",
                    "value": {
                      "detail": "Internal server error"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/entities/{entity_id}": {
      "get": {
        "tags": [
          "Entity"
        ],
        "summary": "Get Entity",
        "description": "Retrieve a single Entity by its Id",
        "operationId": "get_entity_entities__entity_id__get",
        "parameters": [
          {
            "name": "entity_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Entity Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful entity match.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetEntityResponse"
                },
                "examples": {
                  "entity_id_search": {
                    "summary": "Search by entity_id",
                    "description": "Find a single entity by entity_id.",
                    "value": {
                      "id": "507f1f77bcf86cd799439015",
                      "name": "Example Contoso Inc.",
                      "description": "Large-scale manufacturing company specializing in automotive components",
                      "primary_role": "manufacturer",
                      "aliases": [
                        "Contoso",
                        "EX CONTOSO"
                      ],
                      "url": "https://globalmanufacturingcorp.example",
                      "jurisdiction": "US",
                      "addresses": [
                        "123 Main Street, Anytown, State, 12345"
                      ],
                      "monitor": false,
                      "created_at": "1970-01-01T00:00:00.000Z",
                      "modified": "1970-01-01T00:00:00.000Z",
                      "region": "State",
                      "affiliated_jurisdiction": "CA",
                      "tradeverifyd_score": 550,
                      "references": {
                        "flags": {
                          "total": 2
                        },
                        "relationships": {
                          "total": 15,
                          "from_relationships": {
                            "count": 8
                          },
                          "to_relationships": {
                            "count": 7
                          }
                        },
                        "risk_events": {
                          "total": 1
                        }
                      },
                      "count_inferred_relationships": {
                        "depth": 2,
                        "value": 2,
                        "last_updated": "1970-01-01T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - contact support",
            "content": {
              "application/json": {
                "examples": {
                  "internal_error": {
                    "summary": "Internal server error",
                    "value": {
                      "detail": "Internal server error"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/entities/{entity_id}/risk_events": {
      "get": {
        "tags": [
          "Entity"
        ],
        "summary": "Get Entity Risk Events",
        "description": "Get Risk Events affecting an Entity.",
        "operationId": "get_entity_risk_events_entities__entity_id__risk_events_get",
        "parameters": [
          {
            "name": "entity_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Entity Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RiskEvent"
                  },
                  "title": "Response Get Entity Risk Events Entities  Entity Id  Risk Events Get"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - contact support",
            "content": {
              "application/json": {
                "examples": {
                  "internal_error": {
                    "summary": "Internal server error",
                    "value": {
                      "detail": "Internal server error"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/entities/{entity_id}/verification": {
      "get": {
        "tags": [
          "Entity"
        ],
        "summary": "Get Entity Verification by entity id",
        "description": "Retrieves the Tradeverifyd Supplier Assessment (TSA) details for a given entity. Returns the current\nsupplier assessment and compliance information recorded for the specified entity.\n\nNote: To generate a Tradeverifyd Advanced Supplier Assessment (TASA), use the POST /reports endpoint.",
        "operationId": "get_entity_verification_details_entities__entity_id__verification_get",
        "parameters": [
          {
            "name": "entity_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Id of the Entity to use as the starting node for graph retrieval.",
              "title": "Entity Id"
            },
            "description": "Id of the Entity to use as the starting node for graph retrieval."
          },
          {
            "name": "hs_code",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Optional HS code (2, 4, or 6-digit) to filter the supplier graph used for assessment. When provided, only supplier relationships (IS_SUPPLIER_OF edges) that match the HS code are considered when analyzing the entity's supply chain. This filters the graph to show suppliers of specific products. Less specific codes (e.g., '52') match more specific codes (e.g., '5201', '520100'). Note: Supplier jurisdiction filtering will be added in future updates.",
              "title": "Hs Code",
              "type": "string",
              "nullable": true
            },
            "description": "Optional HS code (2, 4, or 6-digit) to filter the supplier graph used for assessment. When provided, only supplier relationships (IS_SUPPLIER_OF edges) that match the HS code are considered when analyzing the entity's supply chain. This filters the graph to show suppliers of specific products. Less specific codes (e.g., '52') match more specific codes (e.g., '5201', '520100'). Note: Supplier jurisdiction filtering will be added in future updates."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful entity verification retrieval.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityVerificationDetails"
                },
                "examples": {
                  "verification_id_search": {
                    "summary": "Get entity verification details by entity_id.",
                    "description": "Find an entity's verification details by entity_id.",
                    "value": {
                      "id": "507f1f77bcf86cd799439015",
                      "name": "Example Contoso Inc.",
                      "jurisdiction": "US",
                      "addresses": [
                        "123 Main Street, Anytown, State, 12345"
                      ],
                      "text_summary": "One company in this supply chain has been flagged for compliance issues.",
                      "problematic_entities": [
                        {
                          "id": "507f1f77bcf86cd799439017",
                          "name": "ACME CORP.",
                          "flags": [
                            {
                              "sources": [
                                "https://www.dhs.gov/uflpa-entity-list"
                              ],
                              "type": "Human Rights Violation Risk",
                              "subtype": "Forced Labor Risk",
                              "flag_polarity": -1
                            }
                          ],
                          "addresses": [
                            {
                              "address": "789 1st Street, Anytown, State, 12345",
                              "problematic": true,
                              "problem_region": "AK"
                            }
                          ],
                          "jurisdiction": "US",
                          "depth": 3,
                          "tvpra_risks": [
                            {
                              "risk_type": "forced_labor",
                              "suspect_hs_codes": [
                                "52"
                              ]
                            }
                          ],
                          "has_excessive_addresses": false
                        }
                      ],
                      "tradeverifyd_score": 550,
                      "total_entity_ct": 1,
                      "identifiers": [
                        {
                          "type": "lei",
                          "source": "https://lei-lookup.com/record/example",
                          "id": "1b070d5e-eb8d-41e6-9055-a26f8f638571"
                        }
                      ],
                      "incoming_products": [
                        "52",
                        "61"
                      ],
                      "outgoing_products": [
                        "74"
                      ],
                      "top_supplier_connections": [
                        {
                          "id": "507f1f77bcf86cd799439018",
                          "name": "SANCTIONED TRADING LLC",
                          "jurisdiction": "RU"
                        }
                      ],
                      "top_customer_connections": [
                        {
                          "id": "507f1f77bcf86cd799439013",
                          "name": "RISKY SUPPLIERS LTD",
                          "jurisdiction": "CN"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - contact support",
            "content": {
              "application/json": {
                "examples": {
                  "internal_error": {
                    "summary": "Internal server error",
                    "value": {
                      "detail": "Internal server error"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/entities/{identifier_type}/{identifier_value}/verification": {
      "get": {
        "tags": [
          "Entity"
        ],
        "summary": "Get Entity Verification by identifier",
        "description": "Retrieves a Tradeverifyd Supplier Assesssment (TSA) for an entity from alternative identifiers.\nThe purpose of this endpoint is to use external IDs (such as manufacturing or bank identifiers) to\nretrieve entity verification details in the form of a TSA.\n\nFor example:\n- Retrieving by LEI id: `GET /v1/entities/lei/559312VRR0Z0AXO77J92/verification`\n- Retrieving by BIC id: `GET /v1/entities/bic/XCDVTLBIXXX/verification`",
        "operationId": "get_entity_verification_details_by_identifier_entities__identifier_type___identifier_value__verification_get",
        "parameters": [
          {
            "name": "identifier_type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The type of the identifier (e.g., lei, mid)",
              "title": "Identifier Type"
            },
            "description": "The type of the identifier (e.g., lei, mid)"
          },
          {
            "name": "identifier_value",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The value of the identifier",
              "title": "Identifier Value"
            },
            "description": "The value of the identifier"
          },
          {
            "name": "hs_code",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Optional HS code to filter the graph considered when calculating verification details for the requested Entity.",
              "title": "Hs Code",
              "type": "string",
              "nullable": true
            },
            "description": "Optional HS code to filter the graph considered when calculating verification details for the requested Entity."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful entity verification retrieval.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityVerificationDetails"
                },
                "examples": {
                  "verification_id_search": {
                    "summary": "Get entity verification details by identifier type and value.",
                    "description": "Find an entity's verification details by identifier type and value.",
                    "value": {
                      "id": "607f1f77bcf86cd799439016",
                      "name": "Example Construction Ltd.",
                      "jurisdiction": "US",
                      "addresses": [
                        "101 Main Street, New York City, New York, 10001"
                      ],
                      "text_summary": "One company in this supply chain has been flagged for issues related to labor.",
                      "problematic_entities": [
                        {
                          "id": "507f1f77bcf86cd799439017",
                          "name": "ACME CORP.",
                          "flags": [
                            {
                              "sources": [
                                "https://www.dhs.gov/uflpa-entity-list"
                              ],
                              "type": "Worker & Consumer Safety Risk",
                              "subtype": "Transportation Safety Violations",
                              "flag_polarity": -1
                            }
                          ],
                          "addresses": [
                            {
                              "address": "789 1st Street, Anytown, State, 12345",
                              "problematic": true,
                              "problem_region": "AK"
                            }
                          ],
                          "jurisdiction": "US",
                          "depth": 3,
                          "tvpra_risks": [
                            {
                              "risk_type": "forced_labor",
                              "suspect_hs_codes": [
                                "52"
                              ]
                            }
                          ],
                          "has_excessive_addresses": false
                        }
                      ],
                      "tradeverifyd_score": 550,
                      "total_entity_ct": 1,
                      "identifiers": [
                        {
                          "type": "lei",
                          "source": "https://lei-lookup.com/record/example",
                          "id": "1b070d5e-eb8d-41e6-9055-a26f8f638571"
                        }
                      ],
                      "incoming_products": [
                        "52",
                        "61"
                      ],
                      "outgoing_products": [
                        "74"
                      ],
                      "top_supplier_connections": [
                        {
                          "id": "507f1f77bcf86cd799439018",
                          "name": "SANCTIONED TRADING LLC",
                          "jurisdiction": "RU"
                        }
                      ],
                      "top_customer_connections": [
                        {
                          "id": "507f1f77bcf86cd799439013",
                          "name": "RISKY SUPPLIERS LTD",
                          "jurisdiction": "CN"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - contact support",
            "content": {
              "application/json": {
                "examples": {
                  "internal_error": {
                    "summary": "Internal server error",
                    "value": {
                      "detail": "Internal server error"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/entities/{entity_id}/graph": {
      "get": {
        "tags": [
          "Entity"
        ],
        "summary": "Get Entity Graph",
        "description": "Retrieve a graph of paginated relationships for a single Entity.\n\nThis endpoint provides information about the relationships of an Entity,\nsuch as partnerships, affiliations, or any other defined connections. The\nreturned graph contains entity relationship data and includes\nentity properties.\n\nIn the returned relationships data, relationships are described as having\na `source`, an `target`, and a `type`. The direction of the relationship\nmoves from source to target, and is described by the type.\n\nThe page and page_size parameters determine the number of relationships\nto return per page.\n\nThe total_records and total_pages fields are only returned if depth is 3 or less.\nIf depth is greater than 3, these fields are omitted.\n\nNote: This endpoint includes Flags but NOT Risk Events data. Use the\n/risk_events endpoint to retrieve that information for specific entities.",
        "operationId": "get_entity_graph_entities__entity_id__graph_get",
        "parameters": [
          {
            "name": "entity_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Id of the Entity to use as the starting or root entity for graph retrieval.",
              "title": "Entity Id"
            },
            "description": "Id of the Entity to use as the starting or root entity for graph retrieval."
          },
          {
            "name": "hs_codes",
            "in": "query",
            "required": false,
            "schema": {
              "description": "A comma separated list of 2, 4, or 6-digit HS codes to filter by. A less-specific HS code will always match a more-specific code with the same chapter or heading. For example, code '12' will match '1234' and '1256'. If list is empty or null, all relationships are returned.",
              "title": "Hs Codes",
              "type": "string",
              "nullable": true
            },
            "description": "A comma separated list of 2, 4, or 6-digit HS codes to filter by. A less-specific HS code will always match a more-specific code with the same chapter or heading. For example, code '12' will match '1234' and '1256'. If list is empty or null, all relationships are returned."
          },
          {
            "name": "depth",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Limits how many levels of related relationships the query will explore. For example, a depth of 1 returns only directly related items, while higher values include more distant connections.",
              "default": 3,
              "title": "Depth",
              "type": "integer",
              "nullable": true
            },
            "description": "Limits how many levels of related relationships the query will explore. For example, a depth of 1 returns only directly related items, while higher values include more distant connections."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Page to retrieve",
              "default": 1,
              "title": "Page",
              "type": "integer",
              "nullable": true
            },
            "description": "Page to retrieve"
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Number of relationships to return per page (max 100)",
              "default": 100,
              "title": "Page Size",
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "nullable": true
            },
            "description": "Number of relationships to return per page (max 100)"
          },
          {
            "name": "include_affiliates",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Set True to preserve affiliate relationships when filtering by HS codes. When True, affiliate relationships will be included in the graph even if they don't match the specified HS codes.",
              "default": false,
              "title": "Include Affiliates",
              "type": "boolean",
              "nullable": true
            },
            "description": "Set True to preserve affiliate relationships when filtering by HS codes. When True, affiliate relationships will be included in the graph even if they don't match the specified HS codes."
          },
          {
            "name": "direction",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "in",
                "out"
              ],
              "type": "string",
              "description": "The graph direction from the root entity.  Values are 'in' and 'out'. A typical relationship such as IS_SUPPLIER_OF is an inbound relationship pointing to the root entity. The default value is 'in', resulting in a graph of inbound relationships.",
              "default": "in",
              "title": "Direction"
            },
            "description": "The graph direction from the root entity.  Values are 'in' and 'out'. A typical relationship such as IS_SUPPLIER_OF is an inbound relationship pointing to the root entity. The default value is 'in', resulting in a graph of inbound relationships."
          }
        ],
        "responses": {
          "200": {
            "description": "Graph of entities related to the entrypoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicAbridgedGraph"
                },
                "examples": {
                  "returned_graph": {
                    "summary": "Returned graph",
                    "description": "Successfully returned graph",
                    "value": {
                      "entrypoint": {
                        "id": "64ac25c572c173ba6f32e840",
                        "name": "COMPANY A",
                        "jurisdiction": "DE",
                        "flags": [],
                        "coordinates": [],
                        "addresses": [],
                        "aliases": [],
                        "ids": []
                      },
                      "entities": [
                        {
                          "id": "64ac25c572c173ba6f32e840",
                          "name": "COMPANY A",
                          "jurisdiction": "DE",
                          "flags": [
                            {
                              "id": "67ffefdc070a88cf06635ee9",
                              "entity_id": "64ac25c572c173ba6f32e840",
                              "entity_jurisdiction": "DE",
                              "type": "Compliant",
                              "subtype": "Forced Labor Risk",
                              "flag_polarity": 1,
                              "modified": "2023-05-23T20:31:42Z",
                              "source": [
                                "https://modernslaveryregister.gov.au/statements/"
                              ],
                              "tags": [
                                "COMPLIANT - Australia Modern Slavery Act 2018"
                              ]
                            }
                          ],
                          "coordinates": [],
                          "addresses": [
                            "123 abc street chicago illinois 12345"
                          ],
                          "aliases": [
                            "Company A. Inc.",
                            "Company A.",
                            "Company A. LLC"
                          ],
                          "ids": [
                            {
                              "id": "AAAAAAAAAAAAAAAAAAAA",
                              "active": true,
                              "created": "2025-09-24T12:29:26.080132",
                              "type": "lei",
                              "source": "https://www.gleif.org/en"
                            },
                            {
                              "id": "COAAAMUXXX",
                              "active": true,
                              "created": "2025-09-24T12:29:26.080144",
                              "type": "bic",
                              "source": "https://www.gleif.org/en"
                            }
                          ]
                        },
                        {
                          "id": "64ac25c772c173ba6f3c9c57",
                          "name": "Company B",
                          "jurisdiction": "DE",
                          "flags": [],
                          "coordinates": [],
                          "addresses": [],
                          "aliases": [
                            "Company B. Inc."
                          ],
                          "ids": [
                            {
                              "id": "12345_ABCDEFGH",
                              "active": true,
                              "created": "2025-09-24T12:29:26.080169",
                              "type": "opencorporates",
                              "source": "https://www.handelsregister.de/"
                            },
                            {
                              "id": "12345_ABCDEFGH",
                              "active": true,
                              "created": "2025-09-24T12:29:26.080180",
                              "type": "opencorporates_native_company_number",
                              "source": "https://www.handelsregister.de/"
                            },
                            {
                              "id": "BBBBBBBBBBBBBBBBBBBB",
                              "active": true,
                              "created": "2025-09-24T12:29:26.080192",
                              "type": "lei",
                              "source": "opencorporates_additional_identifiers"
                            }
                          ]
                        },
                        {
                          "id": "64ac25c772c173ba6f3d0aa1",
                          "name": "Company C",
                          "jurisdiction": "JP",
                          "flags": [],
                          "coordinates": [],
                          "addresses": [],
                          "aliases": [
                            "Company C. Inc."
                          ],
                          "ids": [
                            {
                              "id": "CCCCCCCCCCCCCCCCCCCC",
                              "active": true,
                              "created": "2025-09-24T12:29:26.080207",
                              "type": "lei",
                              "source": "https://www.gleif.org/en"
                            },
                            {
                              "id": "CCCCCCCCCCCCCCCCCCCC",
                              "active": true,
                              "created": "2025-09-24T12:29:26.080218",
                              "type": "mid",
                              "source": "Customs Directive 1234-567"
                            }
                          ]
                        },
                        {
                          "id": "64ac25c772c173ba6f3e637f",
                          "name": "Company D",
                          "jurisdiction": "JP",
                          "flags": [],
                          "coordinates": [],
                          "addresses": [],
                          "ids": [
                            {
                              "id": "DDDDDDDDDDDDDDDDDDDD",
                              "active": true,
                              "created": "2025-09-24T12:29:26.080233",
                              "type": "lei",
                              "source": "https://www.gleif.org/en"
                            }
                          ]
                        },
                        {
                          "id": "64ac25c872c173ba6f407757",
                          "name": "Company E",
                          "jurisdiction": "US",
                          "flags": [],
                          "coordinates": [
                            {
                              "lat": 100.0,
                              "lng": 112.0,
                              "type": "headquarters"
                            },
                            {
                              "lat": 12.0,
                              "lng": 24.0,
                              "type": "legal"
                            }
                          ],
                          "addresses": [
                            "456 abc street",
                            "123 abc street"
                          ],
                          "aliases": [
                            "Company E. Inc."
                          ],
                          "ids": [
                            {
                              "id": "EEEEEEEEEEEEEEEEEEEE",
                              "active": true,
                              "created": "2025-09-24T12:29:26.080247",
                              "type": "lei",
                              "source": "https://www.gleif.org/en"
                            }
                          ]
                        }
                      ],
                      "relationships": [
                        {
                          "id": "64ac2a7172c173ba6f57dad2",
                          "type": "DIRECTLY_CONSOLIDATES",
                          "target": "64ac25c572c173ba6f3316cf",
                          "source": "64ac25c672c173ba6f36283d",
                          "modified": "2024-04-25T17:55:44.263000Z",
                          "sources": [
                            "https://search.gleif.org/#/record/AAAAAAAAAAAAAAAAAAAA/",
                            "https://search.gleif.org/#/record/BBBBBBBBBBBBBBBBBBBB/"
                          ]
                        },
                        {
                          "id": "64ac2a7272c173ba6f5d4ed0",
                          "type": "DIRECTLY_CONSOLIDATES",
                          "target": "64ac25d472c173ba6f530da1",
                          "source": "64ac25d472c173ba6f541022",
                          "modified": "2024-04-25T17:55:45.505000Z",
                          "sources": [
                            "https://search.gleif.org/#/record/CCCCCCCCCCCCCCCCCCCC/",
                            "https://search.gleif.org/#/record/DDDDDDDDDDDDDDDDDDDD/"
                          ]
                        },
                        {
                          "id": "64ac87dd1102a154bf0cbbc8",
                          "type": "IS_SUPPLIER_OF",
                          "target": "645a550a992fba23b295e4ea",
                          "source": "645a550a992fba23b295e4e9",
                          "hs_codes": [
                            "8541"
                          ],
                          "modified": "2025-02-20T16:10:51.079000Z",
                          "sources": [
                            "https://www.shu.ac.uk/helena-kennedy-centre-international-justice/research-and-projects/all-projects/in-broad-daylight"
                          ]
                        }
                      ],
                      "page": 1,
                      "page_size": 1000,
                      "records": 134,
                      "total_records": 134,
                      "total_pages": 0
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid depth",
            "content": {
              "application/json": {
                "examples": {
                  "invalid_depth": {
                    "summary": "Invalid depth parameter.",
                    "value": {
                      "detail": "Depth must be between 1 and 10."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content - invalid parameters",
            "content": {
              "application/json": {
                "examples": {
                  "invalid_direction": {
                    "summary": "Provided direction must be 'in' or 'out'.",
                    "value": {
                      "detail": [
                        {
                          "type": "literal_error",
                          "loc": [
                            "query",
                            "direction"
                          ],
                          "msg": "Input should be 'in' or 'out'",
                          "input": "between",
                          "ctx": {
                            "expected": "'in' or 'out'"
                          }
                        }
                      ]
                    }
                  },
                  "invalid_depth_type": {
                    "summary": "Provided depth must be an integer.",
                    "value": {
                      "detail": [
                        {
                          "type": "int_parsing",
                          "loc": [
                            "query",
                            "depth"
                          ],
                          "msg": "Input should be a valid integer, unable to parse string as an integer",
                          "input": "three"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - contact support",
            "content": {
              "application/json": {
                "examples": {
                  "internal_error": {
                    "summary": "Internal server error",
                    "value": {
                      "detail": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/entities/{entity_id}/graph/flagged_relationships": {
      "get": {
        "tags": [
          "Entity"
        ],
        "summary": "Get Entity Graph Flagged Relationships",
        "description": "Get flagged relationships for an entity with full entity, relationship, and flag details.\n\nThis endpoint returns the shortest paths between the specified entity and all\nupstream flagged entities that pass through the provided HS codes. The response\nincludes complete details for all entities, relationships, and flags referenced\nin the paths.\n\nArgs:\n- entity_id: The ID of the entity to use as the starting point for relationship search\n- hs_codes: List of HS codes that paths must pass through to be considered\n- include_flags: Optional list of flag types to filter by (if not provided, all flag types are considered)\n- include_affiliates: When True, paths connected by affiliate relationships are included\n- paging: Pagination parameters\n\nReturns:\n- FlaggedRelationshipsResponse: Contains entities, relationships, and flags with all\nObjectIds serialized as strings with all ObjectIds serialized as strings",
        "operationId": "get_entity_graph_flagged_relationships_entities__entity_id__graph_flagged_relationships_get",
        "parameters": [
          {
            "name": "entity_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Entity Id"
            }
          },
          {
            "name": "hs_codes",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "title": "Hs Codes"
            }
          },
          {
            "name": "include_flags",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Include Flags",
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "include_affiliates",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Set True to preserve affiliate relationships when filtering by HS codes. When True, affiliate relationships will be included in the graph even if they don't match the specified HS codes.",
              "default": false,
              "title": "Include Affiliates",
              "type": "boolean",
              "nullable": true
            },
            "description": "Set True to preserve affiliate relationships when filtering by HS codes. When True, affiliate relationships will be included in the graph even if they don't match the specified HS codes."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "default": 1,
              "title": "Page",
              "type": "integer",
              "nullable": true
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "default": 25,
              "title": "Page Size",
              "type": "integer",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlaggedRelationshipsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - contact support",
            "content": {
              "application/json": {
                "examples": {
                  "internal_error": {
                    "summary": "Internal server error",
                    "value": {
                      "detail": "Internal server error"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/relationship-types": {
      "get": {
        "tags": [
          "Relationships"
        ],
        "summary": "Get Relationship Types Detailed",
        "description": "Get all available relationship types with enhanced metadata.\n\nThis endpoint provides a comprehensive list of all relationship types used in the system\nwith additional metadata including category, display name, and bidirectional flag.\n\n**Categories:**\nRelationship types are organized into two categories:\n- `affiliate`: Affiliate connections including ownership, control, and partnership relationships\n- `trade`: Trade relationships including supply chain, financial, corporate, and other business connections\n\nUse this endpoint to understand the meaning and categorization of relationship types\nthat appear in other API responses such as entity graphs and relationship queries.",
        "operationId": "get_relationship_types_detailed_relationship_types_get",
        "responses": {
          "200": {
            "description": "List of all available relationship types with enhanced metadata",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/RelationshipTypeDetailResponse"
                  },
                  "type": "array",
                  "title": "Response Get Relationship Types Detailed Relationship Types Get"
                },
                "examples": {
                  "relationship_types": {
                    "summary": "Example Relationship Types",
                    "value": [
                      {
                        "type": "IS_SUPPLIER_OF",
                        "display_name": "Is Supplier Of",
                        "category": "trade",
                        "description": "An entity provides goods or services to another entity, usually in a commercial context.",
                        "bidirectional": false
                      },
                      {
                        "type": "IS_AFFILIATE_OF",
                        "display_name": "Is Affiliate Of",
                        "category": "affiliate",
                        "description": "An entity is associated with another, usually through ownership or control.",
                        "bidirectional": false
                      }
                    ]
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - contact support",
            "content": {
              "application/json": {
                "examples": {
                  "internal_error": {
                    "summary": "Internal server error",
                    "value": {
                      "detail": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/relationship-type-categories": {
      "get": {
        "tags": [
          "Relationships"
        ],
        "summary": "Get Relationship Type Categories",
        "description": "Get all relationship type categories with their associated types.\n\nThis endpoint provides a categorized view of all relationship types,\ngrouping them by their business purpose (e.g., ownership, supply chain, financial).\n\nUse this to understand the different categories of relationships and which\nspecific relationship types belong to each category.",
        "operationId": "get_relationship_type_categories_relationship_type_categories_get",
        "responses": {
          "200": {
            "description": "List of all relationship type categories with their associated types",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RelationshipTypeCategoriesResponse"
                },
                "examples": {
                  "categories": {
                    "summary": "Example Categories",
                    "value": {
                      "categories": [
                        {
                          "name": "ownership",
                          "display_name": "Ownership Relationships",
                          "description": "Relationships indicating ownership or control between entities",
                          "relationship_count": 4,
                          "types": [
                            "IS_MAJORITY_SHAREHOLDER_OF",
                            "IS_SUBISIDIARY_OF",
                            "IS_THE_HOLDING_COMPANY_OF",
                            "IS_THE_PARENT_COMPANY_OF"
                          ]
                        },
                        {
                          "name": "supply_chain",
                          "display_name": "Supply Chain Relationships",
                          "description": "Relationships in the supply chain including suppliers, manufacturers, and shipping",
                          "relationship_count": 6,
                          "types": [
                            "IS_SUPPLIER_OF",
                            "IS_LIKELY_SUPPLIER_OF",
                            "IS_MANUFACTURER_OF",
                            "IS_A_VENDOR_OF",
                            "SHIPS_GOODS_TO",
                            "SHIPS_VIA"
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - contact support",
            "content": {
              "application/json": {
                "examples": {
                  "internal_error": {
                    "summary": "Internal server error",
                    "value": {
                      "detail": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/relationships/types": {
      "get": {
        "tags": [
          "Relationships"
        ],
        "summary": "Get Relationship Types",
        "description": "Get all available relationship types with their descriptions.\n\nThis endpoint provides a comprehensive list of all relationship types used in the system\n(e.g., \"IS_SUPPLIER_OF\", \"IS_OTHERWISE_LINKED_TO\", \"DIRECTLY_CONSOLIDATES\") along with\ndetailed descriptions of what each type means.\n\nUse this endpoint to understand the meaning of relationship types that appear in other\nAPI responses such as entity graphs and relationship queries.",
        "operationId": "get_relationship_types_relationships_types_get",
        "responses": {
          "200": {
            "description": "List of all available relationship types with their descriptions",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/RelationshipTypeResponse"
                  },
                  "type": "array",
                  "title": "Response Get Relationship Types Relationships Types Get"
                },
                "examples": {
                  "relationship_types": {
                    "summary": "Example Relationship Types",
                    "value": [
                      {
                        "relationship_type": "IS_SUPPLIER_OF",
                        "description": "An entity provides goods or services to another entity, usually in a commercial context."
                      },
                      {
                        "relationship_type": "IS_OTHERWISE_LINKED_TO",
                        "description": "One entity has been manually identified as relating to another, or there is a business reason to display two entities as connected when they otherwise would not be. Relations of this type must have a batch ID so they can easily be removed. The meaning of this relationship is poorly-defined and should be used sparingly as a last resort."
                      },
                      {
                        "relationship_type": "DIRECTLY_CONSOLIDATES",
                        "description": "The parent entity fully consolidates the accounts of the child entity, as per the accounting standard(s) specified; the child entity is the closest entity being fully consolidated by the parent in any applicable hierarchical ownership structure."
                      }
                    ]
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - contact support",
            "content": {
              "application/json": {
                "examples": {
                  "internal_error": {
                    "summary": "Internal server error",
                    "value": {
                      "detail": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/risk_events/{event_id}": {
      "get": {
        "tags": [
          "Risk Events"
        ],
        "summary": "Get Event",
        "description": "Retrieve a specific risk event by its ID.\n\nThis endpoint provides detailed information about a particular event in the\ncontext of supply chain operations. It is useful for fetching specific\ndetails about compliance, trade disruptions, or other significant events.",
        "operationId": "get_event_risk_events__event_id__get",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique Risk Event identifier.",
              "title": "Event Id"
            },
            "description": "Unique Risk Event identifier."
          }
        ],
        "responses": {
          "200": {
            "description": "Risk event details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RiskEvent"
                },
                "examples": {
                  "port_congestion": {
                    "summary": "Port congestion disruption event",
                    "description": "Example of a transportation disruption risk event affecting major ports",
                    "value": {
                      "id": "65f8a2b1c3d4e5f6a7b8c9d0",
                      "timestamp": "2024-03-15T08:30:00Z",
                      "last_modified": "2024-03-15T10:45:00Z",
                      "countries": [
                        "US",
                        "CN"
                      ],
                      "time_start": "2024-03-14T00:00:00Z",
                      "time_end": "2024-03-20T23:59:59Z",
                      "title": "Major Port Congestion at Los Angeles/Long Beach",
                      "description": "Severe congestion at the Los Angeles and Long Beach ports due to increased import volumes and labor shortages, causing significant delays in cargo processing and ship berthing.",
                      "sources": [
                        "https://www.reuters.example/business/port-congestion-2024",
                        "https://www.bloomberg.example/news/la-port-delays"
                      ],
                      "type": "port_congestion"
                    }
                  },
                  "semiconductor_shortage": {
                    "summary": "Global semiconductor shortage",
                    "description": "Example of a supply shortage risk event affecting technology supply chains",
                    "value": {
                      "id": "65f8a2b1c3d4e5f6a7b8c9d1",
                      "timestamp": "2024-02-28T14:20:00Z",
                      "last_modified": "2024-03-01T09:15:00Z",
                      "countries": [
                        "TW",
                        "KR",
                        "JP"
                      ],
                      "time_start": "2024-02-15T00:00:00Z",
                      "title": "Global Semiconductor Shortage Intensifies",
                      "description": "Ongoing semiconductor chip shortage affecting automotive and electronics industries, with Taiwan and South Korea production facilities operating at maximum capacity.",
                      "sources": [
                        "https://www.ft.example/semiconductor-shortage-2024"
                      ],
                      "type": "semiconductor_shortage"
                    }
                  },
                  "hurricane_disruption": {
                    "summary": "Hurricane supply chain impact",
                    "description": "Natural disaster affecting regional supply chains and logistics",
                    "value": {
                      "id": "65f8a2b1c3d4e5f6a7b8c9d2",
                      "timestamp": "2024-09-10T16:00:00Z",
                      "last_modified": "2024-09-12T08:30:00Z",
                      "countries": [
                        "US",
                        "MX"
                      ],
                      "time_start": "2024-09-08T00:00:00Z",
                      "time_end": "2024-09-15T23:59:59Z",
                      "title": "Hurricane Impacts Gulf Coast Supply Chains",
                      "description": "Category 4 hurricane disrupts oil refineries, chemical plants, and shipping routes along the Gulf Coast, affecting energy and petrochemical supply chains.",
                      "sources": [
                        "https://www.noaa.gov/hurricane-tracker-2024",
                        "https://www.wsj.example/gulf-coast-supply-disruption"
                      ],
                      "type": "hurricane"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Risk event not found",
            "content": {
              "application/json": {
                "examples": {
                  "not_found": {
                    "summary": "Risk event does not exist",
                    "value": {
                      "detail": "Risk Event '65f8a2b1c3d4e5f6a7b8c9d9' does not exist."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - contact support",
            "content": {
              "application/json": {
                "examples": {
                  "internal_error": {
                    "summary": "Internal server error",
                    "value": {
                      "detail": "Internal server error"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/risk_events": {
      "get": {
        "tags": [
          "Risk Events"
        ],
        "summary": "Get Risk Events",
        "description": "Retrieve a paginated feed of Risk Events matching the specifed filters,\nsorted by event creation time.",
        "operationId": "get_risk_events_risk_events_get",
        "parameters": [
          {
            "name": "event_types",
            "in": "query",
            "required": false,
            "schema": {
              "description": "If set, only Risk Events of the provided types will be included in the result set. If 'null', all types will be included in the result set.",
              "title": "Event Types",
              "type": "array",
              "items": {
                "anyOf": [
                  {
                    "enum": [
                      "earthquake",
                      "hurricane",
                      "tsunami",
                      "flood",
                      "tornado",
                      "cyclone",
                      "volcanic_eruption",
                      "wildfire",
                      "drought",
                      "landslide",
                      "blizzard",
                      "ice_storm",
                      "heatwave",
                      "sandstorm",
                      "pandemic",
                      "insect_infestation"
                    ],
                    "type": "string"
                  },
                  {
                    "enum": [
                      "economic_sanction",
                      "trade_war",
                      "political_unrest",
                      "embargo",
                      "military_conflict",
                      "terrorist_attack"
                    ],
                    "type": "string"
                  },
                  {
                    "enum": [
                      "shipping_delay",
                      "port_congestion",
                      "transportation_strike",
                      "fuel_shortage",
                      "infrastructure_failure"
                    ],
                    "type": "string"
                  },
                  {
                    "enum": [
                      "raw_material_scarcity",
                      "component_shortage",
                      "semiconductor_shortage",
                      "crop_disease"
                    ],
                    "type": "string"
                  },
                  {
                    "enum": [
                      "strike",
                      "labor_shortage",
                      "skilled_labor_shortage",
                      "workforce_demographic_problem",
                      "forced_labor",
                      "child_labor"
                    ],
                    "type": "string"
                  },
                  {
                    "enum": [
                      "inflation",
                      "recession",
                      "economic_downturn",
                      "currency_fluctuation",
                      "interest_rate_change",
                      "stock_market_volatility"
                    ],
                    "type": "string"
                  },
                  {
                    "enum": [
                      "environmental_regulation",
                      "trade_regulation",
                      "labor_law",
                      "safety_regulation",
                      "compliance_standard"
                    ],
                    "type": "string"
                  },
                  {
                    "enum": [
                      "cyber_attack",
                      "data_breach",
                      "system_failure",
                      "technology_obsolete",
                      "software_bug"
                    ],
                    "type": "string"
                  },
                  {
                    "enum": [
                      "oil_price_increase",
                      "renewable_energy_outage",
                      "energy_rationing",
                      "nuclear_energy_incident"
                    ],
                    "type": "string"
                  },
                  {
                    "enum": [
                      "climate_change",
                      "biodiversity_loss",
                      "pollution",
                      "sustainable_resource_management"
                    ],
                    "type": "string"
                  },
                  {
                    "enum": [
                      "consumer_trend_shift",
                      "demand_surge",
                      "demand_slump",
                      "new_market_entrant"
                    ],
                    "type": "string"
                  },
                  {
                    "type": "string",
                    "enum": [
                      "healthcare_system_overload"
                    ]
                  },
                  {
                    "type": "string",
                    "enum": [
                      "other"
                    ]
                  }
                ]
              },
              "nullable": true
            },
            "description": "If set, only Risk Events of the provided types will be included in the result set. If 'null', all types will be included in the result set."
          },
          {
            "name": "countries",
            "in": "query",
            "required": false,
            "schema": {
              "description": "If set, only Risk Events impacting the provided countries will be included in the result set. If 'null', all countries will be included in the result set.",
              "title": "Countries",
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            },
            "description": "If set, only Risk Events impacting the provided countries will be included in the result set. If 'null', all countries will be included in the result set."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Result page.",
              "default": 1,
              "title": "Page"
            },
            "description": "Result page."
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Number of results to return per-query.",
              "default": 10,
              "title": "Per Page"
            },
            "description": "Number of results to return per-query."
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of risk events",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRiskEventsResponse"
                },
                "examples": {
                  "multiple_events": {
                    "summary": "Multiple risk events with facets",
                    "description": "Paginated response showing various types of supply chain risk events with facet counts",
                    "value": {
                      "facets": [
                        {
                          "type": "event_type",
                          "value": "port_congestion",
                          "count": 15
                        },
                        {
                          "type": "event_type",
                          "value": "semiconductor_shortage",
                          "count": 8
                        },
                        {
                          "type": "event_type",
                          "value": "hurricane",
                          "count": 5
                        },
                        {
                          "type": "event_country",
[...]
