{"openapi":"3.1.0","info":{"title":"Tradeverifyd","description":"\nThe Tradeverifyd API offers advanced capabilities for analyzing supply chain entities and their intricate relationships, enabling users to gain deep insights into the complex dynamics of global trade networks.\n\nFor more information visit [tradeverifyd.com](https://tradeverifyd.com).\n\nIf you have questions regarding specific use cases or how to accomplish them, please reach out to [support@tradeverifyd.com](mailto:support@tradeverifyd.com?subject=Tradeverifyd%20use%20cases) for guidance.\n\nWhen making requests that require a Tradeverifyd API Key make sure the correct HTTP Header is included.\n\nFor example:\n\n```bash\ncurl --silent --location -G 'https://.../v1/search/entities' \\\n--data-urlencode 'name=Contoso Corporation' \\\n--data-urlencode 'jurisdiction=US' \\\n--header \"ocp-apim-subscription-key: $TRADEVERIFYD_API_KEY\"\n```\n","termsOfService":"https://tradeverifyd.com/terms-of-service","contact":{"name":"tradeverifyd.com","url":"https://tradeverifyd.com/","email":"support@tradeverifyd.com"},"license":{"name":"Proprietary License","url":"https://tradeverifyd.com/terms-of-service"},"version":"0.2.0"},"servers":[{"url":"https://api.tradeverifyd.com","description":"Production server"}],"paths":{"/v1/search/entities":{"get":{"tags":["Entity"],"summary":"Entity Search","description":"Search for Entities that match the provided search parameters. Either 'name' or 'entity_id' must be provided.","operationId":"search_entities_search_entities_get","parameters":[{"name":"name","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Entity name.","title":"Name"},"description":"Entity name."},{"name":"address","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Entity address.","title":"Address"},"description":"Entity address."},{"name":"jurisdiction","in":"query","required":false,"schema":{"anyOf":[{"type":"string","minLength":2,"maxLength":2},{"type":"null"}],"description":"Two-letter ISO country code the entity should be associated with.","title":"Jurisdiction"},"description":"Two-letter ISO country code the entity should be associated with."},{"name":"entity_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string","minLength":12},{"type":"null"}],"description":"Entity ID to search for (ObjectId or UUID format).","title":"Entity Id"},"description":"Entity ID to search for (ObjectId or UUID format)."},{"name":"size","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"description":"The maximum number of results to return. Must be between 1 and 100, inclusive.","default":10,"title":"Size"},"description":"The maximum number of results to return. Must be between 1 and 100, inclusive."},{"name":"flagged_only","in":"query","required":false,"schema":{"type":"boolean","description":"If 'true', results will be limited to Entities currently affected by 1 or more Flags.","default":false,"title":"Flagged Only"},"description":"If 'true', results will be limited to Entities currently affected by 1 or more Flags."}],"responses":{"200":{"description":"Entities matching search criteria","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EntitySearchResult"},"title":"Response Search Entities Search Entities Get"},"examples":{"entity_name_search":{"summary":"Search by entity name","description":"Find entities matching a specific company name","value":[{"id":"507f1f77bcf86cd799439011","name":"Global Manufacturing Corp","jurisdiction":"US","addresses":["123 Industrial Blvd, Detroit, MI 48201, USA","456 Factory St, Cleveland, OH 44113, USA"],"flagged":true,"description":"Large-scale manufacturing company specializing in automotive components","primary_role":"manufacturer","url":"https://globalmanufacturingcorp.example","monitor":true,"references":{"flags":{"total":2},"relationships":{"total":15,"from_relationships":{"count":8},"to_relationships":{"count":7}},"risk_events":{"total":1}},"external_ids":[{"id":"US-12345678-901","type":"duns","source":"dun_bradstreet"},{"id":"98765432109876543210","type":"lei","source":"gleif"}]},{"id":"507f1f77bcf86cd799439012","name":"Global Manufacturing Solutions","jurisdiction":"CA","addresses":["789 Commerce Way, Toronto, ON M5V 3B6, Canada"],"flagged":false,"description":"Manufacturing solutions provider","primary_role":"supplier","references":{"flags":{"total":0},"relationships":{"total":3},"risk_events":{"total":0}}}]},"flagged_entities_only":{"summary":"Search flagged entities only","description":"Find only entities with active compliance flags","value":[{"id":"507f1f77bcf86cd799439013","name":"Risky Suppliers Ltd","jurisdiction":"CN","addresses":["Room 1001, Building A, Shenzhen, Guangdong, China"],"flagged":true,"description":"Electronics components supplier with compliance concerns","primary_role":"supplier","monitor":true,"references":{"flags":{"total":3},"relationships":{"total":12},"risk_events":{"total":2}}}]},"jurisdiction_search":{"summary":"Search by jurisdiction","description":"Find entities in a specific country (Germany)","value":[{"id":"507f1f77bcf86cd799439014","name":"Precision Engineering GmbH","jurisdiction":"DE","addresses":["Industriestraße 42, 70565 Stuttgart, Germany"],"flagged":false,"description":"High-precision manufacturing and engineering services","primary_role":"manufacturer","url":"https://precision-engineering.de","references":{"flags":{"total":0},"relationships":{"total":8},"risk_events":{"total":0}},"external_ids":[{"id":"HRB123456","type":"company_registration","source":"german_trade_register"}]}]},"empty_results":{"summary":"No matching entities","description":"Search that returns no results","value":[]}}}}},"400":{"description":"Bad Request - Invalid search parameters","content":{"application/json":{"examples":{"missing_search_criteria":{"summary":"Missing required search criteria","value":{"detail":"Either name or entity_id must be provided"}},"invalid_jurisdiction":{"summary":"Invalid jurisdiction code","value":{"detail":"Jurisdiction must be a 2-letter ISO country code"}},"invalid_size":{"summary":"Invalid size parameter","value":{"detail":"Size must be between 1 and 100"}}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/resolve/entity":{"get":{"tags":["Entity"],"summary":"Entity Resolution","description":"Resolve to the top-scoring Entity that matches the provided search parameters. Either 'name' or 'entity_id' must be provided.","operationId":"resolve_entity_resolve_entity_get","parameters":[{"name":"name","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Entity name.","title":"Name"},"description":"Entity name."},{"name":"address","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Entity address.","title":"Address"},"description":"Entity address."},{"name":"jurisdiction","in":"query","required":false,"schema":{"anyOf":[{"type":"string","minLength":2,"maxLength":2},{"type":"null"}],"description":"Two-letter ISO country code the entity should be associated with.","title":"Jurisdiction"},"description":"Two-letter ISO country code the entity should be associated with."},{"name":"entity_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string","minLength":12},{"type":"null"}],"description":"Entity ID to search for (ObjectId or UUID format).","title":"Entity Id"},"description":"Entity ID to search for (ObjectId or UUID format)."},{"name":"flagged_only","in":"query","required":false,"schema":{"type":"boolean","description":"If 'true', results will be limited to Entities currently affected by 1 or more Flags.","default":false,"title":"Flagged Only"},"description":"If 'true', results will be limited to Entities currently affected by 1 or more Flags."},{"name":"ranking_strategy","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Ranking strategy for result ordering.","enum":["default","ranking_strategy_v1"],"default":"default","title":"Ranking Strategy"},"description":"Ranking strategy for result ordering."}],"responses":{"200":{"description":"Best matching entity resolved from search criteria","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EntitySearchResult"},"title":"Response Resolve Entity Resolve Entity Get"},"examples":{"perfect_name_match":{"summary":"Perfect entity name match","description":"Exact match found for entity name with high confidence","value":[{"id":"507f1f77bcf86cd799439015","name":"Apple Inc.","jurisdiction":"US","addresses":["One Apple Park Way, Cupertino, CA 95014, USA"],"flagged":false,"description":"Multinational technology company specializing in consumer electronics","primary_role":"manufacturer","url":"https://apple.example","monitor":true,"auto_research":true,"references":{"flags":{"total":0},"relationships":{"total":247,"from_relationships":{"count":156},"to_relationships":{"count":91}},"risk_events":{"total":0}},"external_ids":[{"id":"32019387069","type":"duns","source":"dun_bradstreet"},{"id":"HWUPKR0MPOU8FGXBT394","type":"lei","source":"gleif"},{"id":"AAPL","type":"ticker","source":"nasdaq"}]}]},"fuzzy_name_match":{"summary":"Fuzzy entity name match","description":"Best match found despite slight name variations","value":[{"id":"507f1f77bcf86cd799439016","name":"Microsoft Corporation","jurisdiction":"US","addresses":["One Microsoft Way, Redmond, WA 98052, USA"],"flagged":false,"description":"Technology corporation developing software, services, and solutions","primary_role":"manufacturer","url":"https://microsoft.example","monitor":true,"references":{"flags":{"total":0},"relationships":{"total":189},"risk_events":{"total":0}},"external_ids":[{"id":"06-1232893","type":"ein","source":"irs"},{"id":"MSFT","type":"ticker","source":"nasdaq"}]}]},"jurisdiction_resolved":{"summary":"Resolution with jurisdiction filtering","description":"Best match within specific jurisdiction constraint","value":[{"id":"507f1f77bcf86cd799439017","name":"Toyota Motor Corporation","jurisdiction":"JP","addresses":["1 Toyota-Cho, Toyota City, Aichi Prefecture 471-8571, Japan"],"flagged":false,"description":"Japanese multinational automotive manufacturer","primary_role":"manufacturer","url":"https://global.toyota","monitor":true,"references":{"flags":{"total":0},"relationships":{"total":412,"from_relationships":{"count":298},"to_relationships":{"count":114}},"risk_events":{"total":0}},"external_ids":[{"id":"JP-7200001008846","type":"corporate_number","source":"japan_corporate_number"},{"id":"TM","type":"ticker","source":"nyse"}]}]},"flagged_entity_resolved":{"summary":"Flagged entity resolution","description":"Best match for flagged entity with compliance issues","value":[{"id":"507f1f77bcf86cd799439018","name":"Sanctioned Trading LLC","jurisdiction":"RU","addresses":["123 Red Square, Moscow, Russia"],"flagged":true,"description":"Trading company with active sanctions flags","primary_role":"trader","monitor":true,"auto_research":false,"references":{"flags":{"total":5},"relationships":{"total":23},"risk_events":{"total":3}},"external_ids":[{"id":"RU-1027700132195","type":"ogrn","source":"russian_business_register"}]}]},"no_resolution":{"summary":"No entity resolved","description":"No suitable match found for search criteria","value":[]}}}}},"400":{"description":"Bad Request - Invalid resolution parameters","content":{"application/json":{"examples":{"missing_search_criteria":{"summary":"Missing required search criteria","value":{"detail":"Either name or entity_id must be provided"}},"invalid_ranking_strategy":{"summary":"Invalid ranking strategy","value":{"detail":"ranking_strategy must be 'default' or 'ranking_strategy_v1'"}}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/entities/by-flag-type/{flag_type_id}":{"get":{"tags":["Entity"],"summary":"Get Entities by Flag Type","description":"Get entities that have flags of a specific flag type.\n\nThis endpoint allows customers to query entities based on specific compliance flags.\nResults are paginated and filtered by organization access control.\n\nOnly entities with flags that are either public or belong to the user's organization\nwill be returned.\n\nArgs:\n    flag_type_id: ObjectId of the flag type from flag_types collection\n    page: Page number (1-based) for pagination\n    limit: Maximum number of entities to return per page\n\nReturns:\n    Paginated list of entities with the specified flag type, including:\n    - Entity details (name, jurisdiction, type, status)\n    - TV scores\n    - Flag information\n    - Pagination metadata","operationId":"get_entities_by_flag_type_entities_by_flag_type__flag_type_id__get","parameters":[{"name":"flag_type_id","in":"path","required":true,"schema":{"type":"string","description":"ObjectId of the flag type to filter entities by","title":"Flag Type Id"},"description":"ObjectId of the flag type to filter entities by"},{"name":"page","in":"query","required":false,"schema":{"type":"integer","description":"Page number for pagination","default":1,"title":"Page"},"description":"Page number for pagination"},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","description":"Number of entities per page","default":50,"title":"Limit"},"description":"Number of entities per page"}],"responses":{"200":{"description":"Entities with the specified flag type","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Response Get Entities By Flag Type Entities By Flag Type  Flag Type Id  Get"},"examples":{"ndaa_1260h_entities":{"summary":"NDAA 1260H flagged entities","description":"Entities flagged under Section 1260H of the National Defense Authorization Act","value":{"entities":[{"id":"67ca2eb28f1f60aa37278f33","name":"SMIC NORTHERN INTEGRATED CIRCUIT MANUFACTURING (BEIJING) COMPANY LIMITED","jurisdiction":"CN","type":"Company","status":"Active","addresses":["179 Main Street, Suite 629, London, GB EC2M 4YE","100 Main Street, Suite 860, New York, NY US 10001"],"flags":[{"id":"6808e96feb30f71f4da957c8","created_at":"2025-03-15T00:11:31.376Z","type":"67db2af315fadaf237af6a0e","flag_type":"Sanctions & Restricted Entities Risk","flag_subtype":"1260H Entities","description":"A flag that describes an staged_flag on the OpenSanctions default list.","sources":[{"url":"https://www.defense.gov/News/Releases/Release/Article/4023145/"}],"status":{"state":"confirmed","confidence":"almost certain","sources":[{"url":"https://www.defense.gov/News/Releases/Release/Article/4023145/"}]}}],"aliases":["SMIC Northern Integrated Circuit Manufacturing (Beijing) Co., Ltd.","SMIC NICM","SMIC North"]}],"pagination":{"page":1,"limit":50,"total_entities":127,"total_pages":3,"has_next":true,"has_previous":false},"filter_summary":{"flag_type_id":"67db2af315fadaf237af6a0e","flag_type":"Sanctions & Restricted Entities Risk","flag_subtype":"1260H Entities"}}}}}}},"400":{"description":"Bad Request - Invalid parameters","content":{"application/json":{"examples":{"invalid_object_id":{"summary":"Invalid flag type ID format","value":{"detail":"flag_type_id must be a valid ObjectId"}},"invalid_pagination":{"summary":"Invalid pagination parameters","value":{"detail":"page must be >= 1, limit must be >= 1 and <= 500"}}}}}},"404":{"description":"Flag type not found","content":{"application/json":{"examples":{"flag_type_not_found":{"summary":"Flag type does not exist","value":{"detail":"Flag type not found"}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"examples":{"internal_error":{"summary":"Internal server error","value":{"detail":"Internal server error"}}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/entities/{entity_id}":{"get":{"tags":["Entity"],"summary":"Get Entity","description":"Retrieve a single Entity by its Id","operationId":"get_entity_entities__entity_id__get","parameters":[{"name":"entity_id","in":"path","required":true,"schema":{"type":"string","title":"Entity Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EntityDTO"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/entities/{entity_id}/risk_events":{"get":{"tags":["Entity"],"summary":"Get Entity Risk Events","description":"Get Risk Events affecting an Entity.","operationId":"get_entity_risk_events_entities__entity_id__risk_events_get","parameters":[{"name":"entity_id","in":"path","required":true,"schema":{"type":"string","title":"Entity Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RiskEvent"},"title":"Response Get Entity Risk Events Entities  Entity Id  Risk Events Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/entities/{entity_id}/verification":{"get":{"tags":["Entity"],"summary":"Get Entity Verification by entity id","description":"Retrieve Supplier Verification Report details for an Entity.","operationId":"get_entity_verification_details_entities__entity_id__verification_get","parameters":[{"name":"entity_id","in":"path","required":true,"schema":{"type":"string","description":"Id of the Entity to use as the starting node for graph retrieval.","title":"Entity Id"},"description":"Id of the Entity to use as the starting node for graph retrieval."},{"name":"hs_code","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Optional HS code to filter the graph considered when calculating verification details for the requested Entity. When set, only relationships that match the provided HS Code will be considered when constructing the supplier graph for the Entity.","title":"Hs Code"},"description":"Optional HS code to filter the graph considered when calculating verification details for the requested Entity. When set, only relationships that match the provided HS Code will be considered when constructing the supplier graph for the Entity."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EntityVerificationDetails"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/entities/{identifier_type}/{identifier_value}/verification":{"get":{"tags":["Entity"],"summary":"Get Entity Verification by identifier","description":"Search for entities by identifier and return verification details.","operationId":"get_entity_verification_details_by_identifier_entities__identifier_type___identifier_value__verification_get","parameters":[{"name":"identifier_type","in":"path","required":true,"schema":{"type":"string","description":"The type of the identifier (e.g., lei, mid)","title":"Identifier Type"},"description":"The type of the identifier (e.g., lei, mid)"},{"name":"identifier_value","in":"path","required":true,"schema":{"type":"string","description":"The value of the identifier","title":"Identifier Value"},"description":"The value of the identifier"},{"name":"hs_code","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Optional HS code to filter the graph considered when calculating verification details for the requested Entity.","title":"Hs Code"},"description":"Optional HS code to filter the graph considered when calculating verification details for the requested Entity."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EntityVerificationDetails"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/entities/{entity_id}/graph":{"get":{"tags":["Entity"],"summary":"Get Entity Graph","description":"Retrieve a graph of relationships for a single Entity.\n\nThis endpoint provides information about the relationships of an Entity,\nsuch as partnerships, affiliations, or any other defined connections. The\nreturned graph contains entity relationship data and includes\nentity properties.\n\nNote: This endpoint does not include Flags or Risk Events data. Use the\nseparate /flags and /risk_events endpoints to retrieve that information\nfor specific entities.\n\nIf you do not provide both page and page_size, the graph will be returned in a single response.","operationId":"get_entity_graph_entities__entity_id__graph_get","parameters":[{"name":"entity_id","in":"path","required":true,"schema":{"type":"string","description":"Id of the Entity to use as the starting or root entity for graph retrieval.","title":"Entity Id"},"description":"Id of the Entity to use as the starting or root entity for graph retrieval."},{"name":"hs_codes","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"A comma separred list of 2, 4, or 6-digit HS codes to filter by. A less-specific HS code will always match a more-specific code with the same chapter or heading. For example, code '12' will match '1234' and '1256'. If list is empty or null, all relationships are returned.","title":"Hs Codes"},"description":"A comma separred list of 2, 4, or 6-digit HS codes to filter by. A less-specific HS code will always match a more-specific code with the same chapter or heading. For example, code '12' will match '1234' and '1256'. If list is empty or null, all relationships are returned."},{"name":"depth","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Limits how many levels of related relationships the query will explore. For example, a depth of 1 returns only directly related items, while higher values include more distant connections.For larger depths, please note that page and page_size will be defaulted,if not explicitly passed set.","default":3,"title":"Depth"},"description":"Limits how many levels of related relationships the query will explore. For example, a depth of 1 returns only directly related items, while higher values include more distant connections.For larger depths, please note that page and page_size will be defaulted,if not explicitly passed set."},{"name":"page","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Page to retrieve","default":1,"title":"Page"},"description":"Page to retrieve"},{"name":"page_size","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Page Size","default":1000,"title":"Page Size"},"description":"Page Size"},{"name":"direction","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"The graph direction from the root entity.  Values are 'in', 'out', 'both'. A typical relationship such as IS_SUPPLIER_OF is an inbound relationship pointing to the root entity. The default value is 'in'","default":"in","title":"Direction"},"description":"The graph direction from the root entity.  Values are 'in', 'out', 'both'. A typical relationship such as IS_SUPPLIER_OF is an inbound relationship pointing to the root entity. The default value is 'in'"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EntityGraphResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/relationships/{entity_id}":{"get":{"tags":["Relationships"],"summary":"Get Entity Relationships","description":"Retrieve a graph of relationships for a single Entity.\n\nThis endpoint provides information about the relationships of an Entity,\nsuch as partnerships, affiliations, or any other defined connections. The\nconnected Entities in the returned graph include added context for each\nEntity, such as active Flags and Risk Events.","operationId":"get_entity_relationships_relationships__entity_id__get","parameters":[{"name":"entity_id","in":"path","required":true,"schema":{"type":"string","description":"Id of the Entity to use as the starting node for graph retrieval.","title":"Entity Id"},"description":"Id of the Entity to use as the starting node for graph retrieval."},{"name":"hs_codes","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Filter by 2, 4, or 6-digit Harmonized System (HS) codes. In direct API calls to send multiple hs_codes repeat the parameter: ?hs_codes=12&hs_codes=34&hs_codes=5678. A less-specific HS code will match more-specific codes with the same prefix. (e.g., '12' matches '1234' and '1256'). When provided, relationships involving ANY of these product codes are included. If omitted, all relationships are returned.Use with 'filter_strategy' to control how filtering is applied in the graph.","title":"Hs Codes"},"description":"Filter by 2, 4, or 6-digit Harmonized System (HS) codes. In direct API calls to send multiple hs_codes repeat the parameter: ?hs_codes=12&hs_codes=34&hs_codes=5678. A less-specific HS code will match more-specific codes with the same prefix. (e.g., '12' matches '1234' and '1256'). When provided, relationships involving ANY of these product codes are included. If omitted, all relationships are returned.Use with 'filter_strategy' to control how filtering is applied in the graph."},{"name":"depth","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Limits how many levels of related relationships the query will explore. For example, a depth of 1 returns only directly related items, while higher values include more distant connections.","default":1,"title":"Depth"},"description":"Limits how many levels of related relationships the query will explore. For example, a depth of 1 returns only directly related items, while higher values include more distant connections."},{"name":"include_outgoing","in":"query","required":false,"schema":{"type":"boolean","description":"When 'false', only incoming relationships for the Entity specified by the user-supplied Entity Id is returned.","default":true,"title":"Include Outgoing"},"description":"When 'false', only incoming relationships for the Entity specified by the user-supplied Entity Id is returned."},{"name":"filter_strategy","in":"query","required":false,"schema":{"enum":["strict","lax"],"type":"string","description":"If 'hs_codes' are provided and 'filter_strategy' is 'strict', only relationships that match at least 1 of the provided codes will be followed while assembling the graph outward from the entrypoint Entity. If 'filter_strategy' is 'lax', every edge on any path between a matched HS code and the entrypoint is included, as well as every edge that lies beyond a matched HS code while traversing either upstream or downstream from the entrypoint. If no HS codes are provided, this parameter has no effect.","default":"strict","title":"Filter Strategy"},"description":"If 'hs_codes' are provided and 'filter_strategy' is 'strict', only relationships that match at least 1 of the provided codes will be followed while assembling the graph outward from the entrypoint Entity. If 'filter_strategy' is 'lax', every edge on any path between a matched HS code and the entrypoint is included, as well as every edge that lies beyond a matched HS code while traversing either upstream or downstream from the entrypoint. If no HS codes are provided, this parameter has no effect."},{"name":"preserve_corporate_relationships","in":"query","required":false,"schema":{"type":"boolean","description":"If 'hs_codes' are set, this parameter will include certain relationship types that describe corporate structures regardless of the HS codes they contain (for example, parent-subsidiary relationships). This is most useful in the context of 'strict' HS code filtering to follow the flow of a particular set of goods without losing information about the corporate structure of Entities involved in the graph.","default":false,"title":"Preserve Corporate Relationships"},"description":"If 'hs_codes' are set, this parameter will include certain relationship types that describe corporate structures regardless of the HS codes they contain (for example, parent-subsidiary relationships). This is most useful in the context of 'strict' HS code filtering to follow the flow of a particular set of goods without losing information about the corporate structure of Entities involved in the graph."},{"name":"global_root_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Note: to use this paramter, 'include_outgoing' must be 'false'.\n\nIf provided, the Entity with id matching 'global_root_id' will be set as the 'root' of the returned graph, and all outgoing relationships from the entrypoint Entity (set by parameter 'entity_id') to the Entity specified by 'global_root_id' will be included in the response. Filter parameters are still honored for relationships upstream of the entrypoint Entity.","title":"Global Root Id"},"description":"Note: to use this paramter, 'include_outgoing' must be 'false'.\n\nIf provided, the Entity with id matching 'global_root_id' will be set as the 'root' of the returned graph, and all outgoing relationships from the entrypoint Entity (set by parameter 'entity_id') to the Entity specified by 'global_root_id' will be included in the response. Filter parameters are still honored for relationships upstream of the entrypoint Entity."},{"name":"include_counts","in":"query","required":false,"schema":{"type":"boolean","description":"If true, an entity counts graph counts section is include in the result setNOTE: using this option will significanly increase response times on large graphs.When retrieving graphs with over 1000 nodes, the counts are not returned.","default":false,"title":"Include Counts"},"description":"If true, an entity counts graph counts section is include in the result setNOTE: using this option will significanly increase response times on large graphs.When retrieving graphs with over 1000 nodes, the counts are not returned."},{"name":"only_supplier_relationships","in":"query","required":false,"schema":{"type":"boolean","description":"When true, this builds a graph using an alternative mechanismThis will increase performance, however it maybe not be an exact 1 to 1 match with the previous graph in all scenariosThis graph will ignore the include_outgoing flag.Only incoming relationships are included.","default":false,"title":"Only Supplier Relationships"},"description":"When true, this builds a graph using an alternative mechanismThis will increase performance, however it maybe not be an exact 1 to 1 match with the previous graph in all scenariosThis graph will ignore the include_outgoing flag.Only incoming relationships are included."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetRelationshipsResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/risk_events/{event_id}":{"get":{"tags":["Risk Events"],"summary":"Get Event","description":"Retrieve a specific risk event by its ID.\n\nThis endpoint provides detailed information about a particular event in the\ncontext of supply chain operations. It is useful for fetching specific\ndetails about compliance, trade disruptions, or other significant events.","operationId":"get_event_risk_events__event_id__get","parameters":[{"name":"event_id","in":"path","required":true,"schema":{"type":"string","description":"Unique Risk Event identifier.","title":"Event Id"},"description":"Unique Risk Event identifier."}],"responses":{"200":{"description":"Risk event details retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RiskEvent"},"examples":{"port_congestion":{"summary":"Port congestion disruption event","description":"Example of a transportation disruption risk event affecting major ports","value":{"id":"65f8a2b1c3d4e5f6a7b8c9d0","timestamp":"2024-03-15T08:30:00Z","last_modified":"2024-03-15T10:45:00Z","countries":["US","CN"],"time_start":"2024-03-14T00:00:00Z","time_end":"2024-03-20T23:59:59Z","title":"Major Port Congestion at Los Angeles/Long Beach","description":"Severe congestion at the Los Angeles and Long Beach ports due to increased import volumes and labor shortages, causing significant delays in cargo processing and ship berthing.","sources":["https://www.reuters.example/business/port-congestion-2024","https://www.bloomberg.example/news/la-port-delays"],"type":"port_congestion"}},"semiconductor_shortage":{"summary":"Global semiconductor shortage","description":"Example of a supply shortage risk event affecting technology supply chains","value":{"id":"65f8a2b1c3d4e5f6a7b8c9d1","timestamp":"2024-02-28T14:20:00Z","last_modified":"2024-03-01T09:15:00Z","countries":["TW","KR","JP"],"time_start":"2024-02-15T00:00:00Z","title":"Global Semiconductor Shortage Intensifies","description":"Ongoing semiconductor chip shortage affecting automotive and electronics industries, with Taiwan and South Korea production facilities operating at maximum capacity.","sources":["https://www.ft.example/semiconductor-shortage-2024"],"type":"semiconductor_shortage"}},"hurricane_disruption":{"summary":"Hurricane supply chain impact","description":"Natural disaster affecting regional supply chains and logistics","value":{"id":"65f8a2b1c3d4e5f6a7b8c9d2","timestamp":"2024-09-10T16:00:00Z","last_modified":"2024-09-12T08:30:00Z","countries":["US","MX"],"time_start":"2024-09-08T00:00:00Z","time_end":"2024-09-15T23:59:59Z","title":"Hurricane Impacts Gulf Coast Supply Chains","description":"Category 4 hurricane disrupts oil refineries, chemical plants, and shipping routes along the Gulf Coast, affecting energy and petrochemical supply chains.","sources":["https://www.noaa.gov/hurricane-tracker-2024","https://www.wsj.example/gulf-coast-supply-disruption"],"type":"hurricane"}}}}}},"404":{"description":"Risk event not found","content":{"application/json":{"examples":{"not_found":{"summary":"Risk event does not exist","value":{"detail":"Risk Event '65f8a2b1c3d4e5f6a7b8c9d9' does not exist."}}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/risk_events":{"get":{"tags":["Risk Events"],"summary":"Get Risk Events","description":"Retrieve a paginated feed of Risk Events matching the specifed filters,\nsorted by event creation time.","operationId":"get_risk_events_risk_events_get","parameters":[{"name":"event_types","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"anyOf":[{"enum":["earthquake","hurricane","tsunami","flood","tornado","cyclone","volcanic_eruption","wildfire","drought","landslide","blizzard","ice_storm","heatwave","sandstorm","pandemic","insect_infestation"],"type":"string"},{"enum":["economic_sanction","trade_war","political_unrest","embargo","military_conflict","terrorist_attack"],"type":"string"},{"enum":["shipping_delay","port_congestion","transportation_strike","fuel_shortage","infrastructure_failure"],"type":"string"},{"enum":["raw_material_scarcity","component_shortage","semiconductor_shortage","crop_disease"],"type":"string"},{"enum":["strike","labor_shortage","skilled_labor_shortage","workforce_demographic_problem","forced_labor","child_labor"],"type":"string"},{"enum":["inflation","recession","economic_downturn","currency_fluctuation","interest_rate_change","stock_market_volatility"],"type":"string"},{"enum":["environmental_regulation","trade_regulation","labor_law","safety_regulation","compliance_standard"],"type":"string"},{"enum":["cyber_attack","data_breach","system_failure","technology_obsolete","software_bug"],"type":"string"},{"enum":["oil_price_increase","renewable_energy_outage","energy_rationing","nuclear_energy_incident"],"type":"string"},{"enum":["climate_change","biodiversity_loss","pollution","sustainable_resource_management"],"type":"string"},{"enum":["consumer_trend_shift","demand_surge","demand_slump","new_market_entrant"],"type":"string"},{"type":"string","enum":["healthcare_system_overload"]},{"type":"string","enum":["other"]}]}},{"type":"null"}],"description":"If set, only Risk Events of the provided types will be included in the result set. If 'null', all types will be included in the result set.","title":"Event Types"},"description":"If set, only Risk Events of the provided types will be included in the result set. If 'null', all types will be included in the result set."},{"name":"countries","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"If set, only Risk Events impacting the provided countries will be included in the result set. If 'null', all countries will be included in the result set.","title":"Countries"},"description":"If set, only Risk Events impacting the provided countries will be included in the result set. If 'null', all countries will be included in the result set."},{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"description":"Result page.","default":1,"title":"Page"},"description":"Result page."},{"name":"per_page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"description":"Number of results to return per-query.","default":10,"title":"Per Page"},"description":"Number of results to return per-query."}],"responses":{"200":{"description":"Paginated list of risk events","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetRiskEventsResponse"},"examples":{"multiple_events":{"summary":"Multiple risk events with facets","description":"Paginated response showing various types of supply chain risk events with facet counts","value":{"facets":[{"type":"event_type","value":"port_congestion","count":15},{"type":"event_type","value":"semiconductor_shortage","count":8},{"type":"event_type","value":"hurricane","count":5},{"type":"event_country","value":"US","count":12},{"type":"event_country","value":"CN","count":10},{"type":"event_country","value":"TW","count":6}],"page_results":[{"id":"65f8a2b1c3d4e5f6a7b8c9d0","timestamp":"2024-03-15T08:30:00Z","last_modified":"2024-03-15T10:45:00Z","countries":["US","CN"],"time_start":"2024-03-14T00:00:00Z","time_end":"2024-03-20T23:59:59Z","title":"Major Port Congestion at Los Angeles/Long Beach","description":"Severe congestion at the Los Angeles and Long Beach ports due to increased import volumes and labor shortages","sources":["https://www.reuters.example/business/port-congestion-2024","https://www.bloomberg.example/news/la-port-delays"],"type":"port_congestion"},{"id":"65f8a2b1c3d4e5f6a7b8c9d1","timestamp":"2024-02-28T14:20:00Z","last_modified":"2024-03-01T09:15:00Z","countries":["TW","KR","JP"],"time_start":"2024-02-15T00:00:00Z","title":"Global Semiconductor Shortage Intensifies","description":"Ongoing semiconductor chip shortage affecting automotive and electronics industries worldwide","sources":["https://www.ft.example/semiconductor-shortage-2024"],"type":"semiconductor_shortage"},{"id":"65f8a2b1c3d4e5f6a7b8c9d2","timestamp":"2024-01-10T12:00:00Z","last_modified":"2024-01-12T14:30:00Z","countries":["RU","UA"],"time_start":"2024-01-10T00:00:00Z","title":"Trade Route Disruption in Black Sea Region","description":"Ongoing military conflict affecting grain and energy exports through Black Sea shipping lanes","sources":["https://www.bbc.example/news/black-sea-trade-2024","https://www.wsj.example/grain-exports-disrupted"],"type":"military_conflict"}],"current_page":1,"total_results":28}},"filtered_by_type":{"summary":"Filtered by event type","description":"Results filtered to show only natural disaster events","value":{"facets":[{"type":"event_type","value":"hurricane","count":3},{"type":"event_type","value":"earthquake","count":2},{"type":"event_type","value":"flood","count":4},{"type":"event_country","value":"US","count":5},{"type":"event_country","value":"JP","count":2}],"page_results":[{"id":"65f8a2b1c3d4e5f6a7b8c9d3","timestamp":"2024-09-10T16:00:00Z","last_modified":"2024-09-12T08:30:00Z","countries":["US","MX"],"time_start":"2024-09-08T00:00:00Z","time_end":"2024-09-15T23:59:59Z","title":"Hurricane Impacts Gulf Coast Supply Chains","description":"Category 4 hurricane disrupts oil refineries and chemical plants","sources":["https://www.noaa.gov/hurricane-tracker-2024"],"type":"hurricane"},{"id":"65f8a2b1c3d4e5f6a7b8c9d4","timestamp":"2024-08-22T03:45:00Z","last_modified":"2024-08-22T10:00:00Z","countries":["JP"],"time_start":"2024-08-22T03:45:00Z","time_end":"2024-08-23T00:00:00Z","title":"Major Earthquake Disrupts Japanese Manufacturing","description":"7.2 magnitude earthquake affects automotive and electronics production facilities in central Japan","sources":["https://www.jma.go.jp/earthquake-2024"],"type":"earthquake"}],"current_page":1,"total_results":9}},"empty_results":{"summary":"No matching events","description":"Query returned no matching risk events","value":{"facets":[],"page_results":[],"current_page":1,"total_results":0}}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/reports/{report_id}/status":{"get":{"tags":["Reports"],"summary":"Get Report Status","description":"Retrieve the status of a Tradeverifyd Report Request by id.","operationId":"Get_Report_Status_reports__report_id__status_get","parameters":[{"name":"report_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Report Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportStatusResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/reports":{"post":{"tags":["Reports"],"summary":"Create Report Request","description":"Creates a request for generating Tradeverifyd compliance reports. TASA reports require entity_id, CPR/CGR reports require shipment_id. Currently only TASA reports are fully implemented.","operationId":"Create_Report_Request_reports_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateReportRequest"},"examples":{"tasa_report":{"summary":"TASA Report Request","description":"Tradeverifyd Advanced Supplier Assessment report for a specific entity. Provides comprehensive compliance scoring and risk analysis.","value":{"report_type":"tasa","report_name":"ACME Corporation Supplier Assessment Q1 2024","entity_id":"507f1f77bcf86cd799439011"}},"cpr_report":{"summary":"CPR Report Request","description":"Compliance Package Report for a specific shipment. Note: Currently not implemented (returns 501).","value":{"report_type":"cpr","report_name":"Compliance Package - Shipment SH240315001","shipment_id":"987fcdeb-51a2-4c7f-8e3b-1234567890ab"}},"cgr_report":{"summary":"CGR Report Request","description":"Compliance Gap Report identifying areas for improvement. Note: Currently not implemented (returns 501).","value":{"report_type":"cgr","report_name":"Compliance Gap Analysis - Electronics Import Q1 2024","shipment_id":"456fcdeb-51a2-4c7f-8e3b-0987654321ba"}},"minimal_tasa":{"summary":"Minimal TASA Request","description":"TASA report with auto-generated name (report_name will be set automatically)","value":{"report_type":"tasa","entity_id":"507f1f77bcf86cd799439011"}}}}},"required":true},"responses":{"200":{"description":"Report request created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateReportResponse"},"examples":{"tasa_success":{"summary":"TASA Report Created","description":"Successful creation of a TASA (Tradeverifyd Advanced Supplier Assessment) report","value":{"report_id":"123e4567-e89b-12d3-a456-426614174000"}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"examples":{"invalid_report_type":{"summary":"Invalid Report Type","value":{"detail":"Invalid report type"}},"missing_entity_id":{"summary":"Missing Entity ID for TASA","value":{"detail":"Entity ID is required for TASA reports"}}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/reports/{report_id}":{"get":{"tags":["Reports"],"summary":"Get Report Details","description":"Retrieve a Tradeverifyd Report Request Details by id.\n\nArgs:\n    report_id: UUID of the report.\n\nReturns:\n    ReportDetailResponse object:\n        id: UUID\n        requested_ts: datetime\n        completed_ts: Optional[datetime]\n        report_type: str\n        report_status: str\n        report_name: Optional[str]","operationId":"Get_Report_Details_reports__report_id__get","parameters":[{"name":"report_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Report Id"}}],"responses":{"200":{"description":"Report details retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportDetailResponse"},"examples":{"tasa_completed":{"summary":"Completed TASA report","description":"Tradeverifyd Advanced Supplier Assessment report that has been completed","value":{"id":"f47ac10b-58cc-4372-a567-0e02b2c3d479","requested_ts":"2024-03-15T10:30:00Z","completed_ts":"2024-03-15T12:45:00Z","report_type":"tasa","report_status":"COMPLETED","report_name":"TASA Report - Apple Inc. Supplier Assessment"}},"cpr_in_progress":{"summary":"CPR report in progress","description":"Compliance Package Report currently being generated","value":{"id":"f47ac10b-58cc-4372-a567-0e02b2c3d480","requested_ts":"2024-03-16T08:15:00Z","report_type":"cpr","report_status":"IN_PROGRESS","report_name":"CPR - Tesla Battery Supply Chain Compliance"}},"cgr_failed":{"summary":"Failed CGR report","description":"Compliance Gap Report that failed during generation","value":{"id":"f47ac10b-58cc-4372-a567-0e02b2c3d481","requested_ts":"2024-03-14T14:20:00Z","completed_ts":"2024-03-14T14:25:00Z","report_type":"cgr","report_status":"FAILED"}},"tasa_pending":{"summary":"Pending TASA report","description":"TASA report queued for processing","value":{"id":"f47ac10b-58cc-4372-a567-0e02b2c3d482","requested_ts":"2024-03-17T09:00:00Z","report_type":"tasa","report_status":"PENDING","report_name":"TASA - Boeing 737 Supplier Compliance Review"}}}}}},"404":{"description":"Report not found","content":{"application/json":{"examples":{"not_found":{"summary":"Report does not exist","value":{"detail":"Report not found"}}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/reports/{report_id}/content":{"get":{"tags":["Reports"],"summary":"Get Report Contents","description":"Retrieve the contents of a Tradeverifyd Report by report id.\n\nArgs:\n    \n\n    report_id: UUID of the report to retrieve content for.\n\n    report_supplement: Optional supplement name to retrieve. Currently only \"extended-graph\" is supported. Only available for CGR reports in JSON format.\n    If the report_supplement is provided, only the supplement is returned, otherwise the report is returned in the format specified by the accept header.\n\n    accept: Content format preference. Supported values: \"application/json\", \"application/pdf\". Defaults to \"application/json\".\n\n\nReturns:\n    \n\n    StreamingResponse: The report content as a streaming response with appropriate content type and filename headers.\n\nRaises:\n    \n\n    HTTPException: 404 if report not found, 403 if report not approved, 400 for invalid supplement requests.","operationId":"Get_Report_Contents_reports__report_id__content_get","parameters":[{"name":"report_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Report Id"}},{"name":"report_supplement","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"default":"","title":"Report Supplement"}},{"name":"accept","in":"header","required":false,"schema":{"type":"string","default":"application/json","title":"Accept"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/TASAContentsResponse"},{"$ref":"#/components/schemas/CGRContentsResponse"},{"$ref":"#/components/schemas/CPRContentsResponse"},{"$ref":"#/components/schemas/WSCContentsResponse"},{"$ref":"#/components/schemas/DSCContentsResponse"}],"title":"Response Get Report Contents Reports  Report Id  Content Get"}},"application/pdf":{}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/flags/upload":{"post":{"tags":["Flags"],"summary":"Upload Flags","description":"Upload flags for processing. Expected time to process and be available in the\nsystem is approximately 5-10 minutes.\n\nThis endpoint allows uploading flags for entities. Each flag must be associated with an entity\nand contain information about potential risks or issues.\n\n**Entity Identification Requirements:**\n- Either provide `entity_id` (preferred) OR both `entity_name` and `entity_jurisdiction`\n- If using name/jurisdiction, both fields are required to uniquely identify the entity\n\n**Required Fields:**\n- `flag_type`: The primary category of the flag (e.g., \"Sanctions & Restricted Entities Risk\",\n\"Worker & Consumer Safety Risk\", \"Environmental Violations Risk\")\n- `flag_subtype`: A more specific classification within the flag type (e.g.,\n\"Financial Crimes & Violations\", \"International Sanctions\", \"Terrorism Financing\")\n- `source_location`: The URL or location where the flag information was found\n(e.g., \"https://example.example/news/article\")\n- `description`: Detailed explanation of the flag and its significance\n\nNote: `flag_type` and `flag_subtype` must fall into one of the existing flag types defined in the system.\n\n**Optional Fields:**\n- `tags`: Single word identifier for categorizing flags by subcategories\n- `time_start`: Start date/time when the flag becomes valid\n- `time_end`: End date/time when the flag expires\n\n**Response:**\nReturns a summary of the processing results including the total number of flags submitted\nand how many were successfully inserted into the system.","operationId":"upload_bulk_staged_flags_external_flags_upload_post","requestBody":{"content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/ExternalBulkFlagItem"},"type":"array","title":"Bulk Flags"},"examples":{"ofac_sanctions_flag":{"summary":"OFAC Sanctions Flag","description":"Flag indicating entity appears on OFAC sanctions list. Uses entity_id for identification.","value":[{"entity_id":"507f1f77bcf86cd799439011","flag_type":"Sanctions & Restricted Entities Risk","flag_subtype":"International Sanctions","description":"Entity appears on OFAC Specially Designated Nationals List for involvement in illicit activities","tags":"financial_crimes","source_location":"https://sanctionssearch.ofac.treas.example/Details.aspx?id=12345","time_start":"2024-01-15T00:00:00Z"}]},"adverse_media_flag":{"summary":"Adverse Media Flag","description":"Flag for negative media coverage. Uses entity name and jurisdiction for identification.","value":[{"entity_name":"Suspicious Manufacturing Ltd","entity_jurisdiction":"CN","flag_type":"Worker & Consumer Safety Risk","flag_subtype":"Workplace & Labor Violations","description":"Media reports indicate potential labor rights violations at manufacturing facilities","tags":"labor_violations","source_location":"https://news.example/reports/labor-violations-china-2024","time_start":"2024-08-01T10:30:00Z"}]},"regulatory_compliance_flag":{"summary":"Regulatory Compliance Flag","description":"Flag for regulatory violations with time-bound validity period.","value":[{"entity_id":"507f1f77bcf86cd799439012","flag_type":"Worker & Consumer Safety Risk","flag_subtype":"Workplace & Labor Violations","description":"Operating without required environmental compliance certifications","tags":"environmental","source_location":"https://epa.example/enforcement/case-567890","time_start":"2024-06-01T00:00:00Z","time_end":"2025-06-01T00:00:00Z"}]},"multiple_flags_bulk":{"summary":"Multiple Flags Upload","description":"Example of uploading multiple flags in a single request with different flag types and entity identification methods.","value":[{"entity_id":"507f1f77bcf86cd799439013","flag_type":"Sanctions & Restricted Entities Risk","flag_subtype":"Legal Violations","description":"Entity listed on UN Security Council sanctions list","tags":"terrorism","source_location":"https://www.un.example/securitycouncil/sanctions/1267/aq_list","time_start":"2024-03-01T00:00:00Z"},{"entity_name":"Risky Supplier Inc","entity_jurisdiction":"US","flag_type":"Sanctions & Restricted Entities Risk","flag_subtype":"Financial Crimes & Violations","description":"Reports of accounting irregularities and potential fraud","tags":"financial_fraud","source_location":"https://sec.example/news/press-release/2024-56","time_start":"2024-07-15T09:00:00Z"}]}}}},"required":true},"responses":{"202":{"description":"Flags processed successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalBulkFlagResponse"},"examples":{"successful_processing":{"summary":"Successful flag processing","description":"All flags were successfully processed and inserted","value":{"message":"Flags processed successfully","flag_count":3,"inserted_count":3,"status":"completed"}},"partial_success":{"summary":"Partial processing success","description":"Some flags were processed successfully, others failed validation","value":{"message":"Flags processed successfully","flag_count":5,"inserted_count":3,"status":"completed"}}}}}},"400":{"description":"Bad Request - Validation errors","content":{"application/json":{"examples":{"entity_validation_error":{"summary":"Entity identification error","value":{"detail":"Validation error: Either 'entity_id' OR both 'entity_name' and 'entity_jurisdiction' must be provided"}},"invalid_payload":{"summary":"Invalid flags payload","value":{"detail":"Validation error: Invalid flags payload."}},"payload_validation_failed":{"summary":"Payload validation failed","value":{"detail":"Flags payload failed validation"}}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/flags/update/{flag_id}":{"put":{"tags":["Flags"],"summary":"Update a flag","description":"Update an existing Flag.\n\nUsers can only update Flags that belong to their organization.\n\nThe provided information will override existing information. It is not a merge.\n\n### Args:\n- FlagUpdateItem: JSON object specifying Flag information for update.\n\n### Returns:\n- FlagDTO: The Flag object representing the updated flag.\n\n### Example Usage:\n- Requesting `PUT /update_flag` with a valid flag_id that belongs to the user's organization\n    will update the specified flag.","operationId":"update_flag_flags_update__flag_id__put","parameters":[{"name":"flag_id","in":"path","required":true,"schema":{"type":"string","title":"Flag Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FlagUpdateItem"},"examples":{"update_sanctions_flag":{"summary":"Update OFAC sanctions flag","description":"Update an existing OFAC sanctions flag with additional context, new sources, and updated validity period.","value":{"entity_jurisdiction":"US","description":"Updated OFAC sanctions flag with additional context from compliance review","tags":["sanctions","financial_crimes","OFAC"],"source":["https://sanctionssearch.ofac.treas.example/Details.aspx?id=12345"],"time_start":"2024-01-15T00:00:00Z","time_end":"2025-01-15T00:00:00Z","owner_email":"compliance@company.example","deleted":false}},"update_adverse_media_flag":{"summary":"Update adverse media flag","description":"Update an adverse media flag with new information, jurisdiction change, and expiration date.","value":{"entity_jurisdiction":"CN","description":"Updated media reports regarding labor concerns with additional investigation results","tags":["labor_concerns","adverse_media"],"source":["https://news.example/labor-investigation-update-2024"],"time_start":"2024-08-01T14:20:00Z","time_end":"2025-02-01T00:00:00Z","owner_email":"risk@company.example","deleted":false}},"mark_flag_deleted":{"summary":"Mark flag as deleted","description":"Mark an existing flag as deleted with deletion metadata.","value":{"deleted":true,"deleted_at":"2024-08-26T15:30:00Z","deletion_source":"Manual review - flag no longer applicable"}},"minimal_update":{"summary":"Minimal flag update","description":"Update only the description field while keeping other values unchanged.","value":{"description":"Updated flag description with latest compliance findings"}}}}}},"responses":{"200":{"description":"Flag successfully updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FlagDTO"},"examples":{"sanctions_flag_updated":{"summary":"Updated OFAC sanctions flag","description":"Successfully updated OFAC sanctions flag with additional context and sources.","value":{"id":"507f1f77bcf86cd799439023","entity_id":"507f1f77bcf86cd799439024","created_at":"2024-01-15T10:30:00Z","time_start":"2024-01-15T00:00:00Z","time_end":"2025-01-15T00:00:00Z","type":"507f1f77bcf86cd799439025","description":"Updated OFAC sanctions flag with additional context from compliance review","sources":[{"url":"https://sanctionssearch.ofac.treas.example/Details.aspx?id=12345"}],"status":{"state":"confirmed","confidence":"almost certain","sources":[{"url":"https://sanctionssearch.ofac.treas.example/Details.aspx?id=12345"}]}}},"adverse_media_flag_updated":{"summary":"Updated adverse media flag","description":"Updated adverse media flag with new jurisdiction and expiration date.","value":{"id":"507f1f77bcf86cd799439026","entity_id":"507f1f77bcf86cd799439027","created_at":"2024-08-01T14:20:00Z","time_start":"2024-08-01T14:20:00Z","time_end":"2025-02-01T00:00:00Z","type":"507f1f77bcf86cd799439028","description":"Updated media reports regarding labor concerns with additional investigation results","sources":[{"url":"https://news.example/labor-investigation-update-2024"}],"status":{"state":"suspected","confidence":"likely","sources":[{"url":"https://news.example/labor-investigation-update-2024"}]}}}}}}},"400":{"description":"Bad Request - Validation errors or flag issues","content":{"application/json":{"examples":{"flag_not_exist":{"summary":"Flag does not exist","value":{"detail":"Flag does not exist."}},"wrong_organization":{"summary":"Flag belongs to different organization","value":{"detail":"Flag does not belong to user's organization."}}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/flags/types":{"get":{"tags":["Flags"],"summary":"Get Flags Types","description":"This endpoint is designed to provide a list of all possible flags types and\nsubtypes.","operationId":"get_flags_types_flags_types_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/FlagTypeResponse"},"type":"array","title":"Response Get Flags Types Flags Types Get"}}}}}}},"/v1/flags":{"get":{"tags":["Flags"],"summary":"Get Flags","description":"Retrieve flags related to a specific entity, with options for recursive\nretrieval and depth control.\n\nThis endpoint is designed to provide a list of flags associated with an\nentity. Flags represent important markers or alerts related to the entity,\nsuch as compliance issues, risk indicators, or other significant\nannotations. The endpoint supports recursive retrieval of flags and allows\nspecifying the depth of retrieval, enabling a comprehensive view of related\nflags.\n\nFlags can be invalidated by external evidence, or no longer apply for time\nreasons to a specific entity.\n\n## Note:\n- Either `entity_id` or both `entity_name` and `entity_jurisdiction` must\n  be provided to retrieve flags for a specific entity.\n- `depth` has no effect if recursive retrieval is not enabled.","operationId":"get_flags_flags_get","parameters":[{"name":"entity_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"The unique identifier of the entity for which flags are being requested. This parameter is required if 'entity_name' and 'entity_jurisdiction' are not provided.","title":"Entity Id"},"description":"The unique identifier of the entity for which flags are being requested. This parameter is required if 'entity_name' and 'entity_jurisdiction' are not provided."},{"name":"entity_name","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"The name of the entity for which flags are being requested. If this parameter is set, 'entity_jurisdiction' must also be set.","title":"Entity Name"},"description":"The name of the entity for which flags are being requested. If this parameter is set, 'entity_jurisdiction' must also be set."},{"name":"entity_jurisdiction","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"The jurisdiction of the entity for which flags are being requested. Should only be set in conjunction with 'entity_name'.","title":"Entity Jurisdiction"},"description":"The jurisdiction of the entity for which flags are being requested. Should only be set in conjunction with 'entity_name'."},{"name":"recursive","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"If 'true', flags will also be retrieved recursively from entities upstream upstream of the target entity ","default":false,"title":"Recursive"},"description":"If 'true', flags will also be retrieved recursively from entities upstream upstream of the target entity "},{"name":"depth","in":"query","required":false,"schema":{"anyOf":[{"type":"integer","minimum":0},{"type":"null"}],"description":"The maximum recursion depth for recursive flag retrieval. If 'recursive' is 'false', this parameter has no effect.","default":0,"title":"Depth"},"description":"The maximum recursion depth for recursive flag retrieval. If 'recursive' is 'false', this parameter has no effect."}],"responses":{"200":{"description":"Successfully retrieved flags for the specified entity","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DisplayFlagDTO"},"title":"Response Get Flags Flags Get"},"examples":{"entity_flags_with_depth":{"summary":"Entity flags with relationship traversal","description":"Multiple flags for Apple Inc. and its upstream suppliers, including OFAC sanctions and adverse media flags with depth information.","value":[{"id":"507f1f77bcf86cd799439011","entity_id":"507f1f77bcf86cd799439012","entity_name":"Apple Inc","entity_jurisdiction":"US","created_at":"2024-01-15T10:30:00Z","time_start":"2024-01-15T00:00:00Z","time_end":"2025-01-15T00:00:00Z","type":"507f1f77bcf86cd799439013","flag_type":"regulatory","flag_subtype":"export_compliance","description":"Export compliance review required for technology transfers to restricted jurisdictions","sources":[{"url":"https://bis.doc.example/index.php/policy-guidance/entity-list"}],"status":{"state":"confirmed","confidence":"almost certain","sources":[{"url":"https://bis.doc.example/index.php/policy-guidance/entity-list"}]},"depth":{"depth":0,"direction":"entry"}},{"id":"507f1f77bcf86cd799439014","entity_id":"507f1f77bcf86cd799439015","entity_name":"Foxconn Technology Group","entity_jurisdiction":"TW","created_at":"2024-08-01T14:20:00Z","time_start":"2024-08-01T14:20:00Z","type":"507f1f77bcf86cd799439016","flag_type":"adverse_media","flag_subtype":"labor_concerns","description":"Reports of worker safety violations and excessive overtime at manufacturing facilities","sources":[{"url":"https://news.example/foxconn-labor-violations-2024"}],"status":{"state":"suspected","confidence":"likely","sources":[{"url":"https://news.example/foxconn-labor-violations-2024"}]},"depth":{"depth":1,"direction":"upstream"}}]},"sanctions_flags":{"summary":"OFAC sanctions flags","description":"Multiple sanctions flags for entities appearing on various government watch lists with different severity levels.","value":[{"id":"507f1f77bcf86cd799439017","entity_id":"507f1f77bcf86cd799439018","entity_name":"Restricted Trading Corp","entity_jurisdiction":"RU","created_at":"2024-03-01T09:00:00Z","time_start":"2024-03-01T00:00:00Z","type":"507f1f77bcf86cd799439019","flag_type":"sanctions","flag_subtype":"OFAC","description":"Entity appears on OFAC Specially Designated Nationals List for involvement in activities contrary to US national security","sources":[{"url":"https://sanctionssearch.ofac.treas.example/Details.aspx?id=12345"}],"status":{"state":"confirmed","confidence":"almost certain","sources":[{"url":"https://sanctionssearch.ofac.treas.example/Details.aspx?id=12345"}]}},{"id":"507f1f77bcf86cd799439020","entity_id":"507f1f77bcf86cd799439021","entity_name":"Consolidated Mining Ltd","entity_jurisdiction":"IR","created_at":"2024-06-15T11:45:00Z","time_start":"2024-06-15T11:45:00Z","time_end":"2025-06-15T11:45:00Z","type":"507f1f77bcf86cd799439022","flag_type":"sanctions","flag_subtype":"UN_Security_Council","description":"Listed on UN Security Council sanctions list for nuclear proliferation activities","sources":[{"url":"https://www.un.example/securitycouncil/sanctions/1737/materials"}],"status":{"state":"confirmed","confidence":"almost certain","sources":[{"url":"https://www.un.example/securitycouncil/sanctions/1737/materials"}]}}]},"no_flags_found":{"summary":"No flags found for entity","description":"Empty response when no flags are found for the specified entity.","value":[]}}}}},"400":{"description":"Bad Request - Missing or invalid parameters","content":{"application/json":{"examples":{"missing_entity_params":{"summary":"Missing entity identification","value":{"detail":"Either entity_id or both name and jurisdiction must be provided"}},"invalid_entity_id":{"summary":"Invalid entity ID format","value":{"detail":"'invalid_id_format' is not a valid Entity id."}}}}}},"404":{"description":"Entity not found","content":{"application/json":{"examples":{"entity_not_found":{"summary":"Entity not found by name/jurisdiction","value":{"detail":"Entity not found"}}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/organizations/organizational-units":{"get":{"tags":["Organizations"],"summary":"Get Organizational Units","description":"Get the organizational units available to the requesting user.","operationId":"get_organizational_units_organizations_organizational_units_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"type":"string"},"type":"array","title":"Response Get Organizational Units Organizations Organizational Units Get"}}}}}}},"/v1/shipments":{"get":{"tags":["Shipments"],"summary":"Get Shipment List","description":"Get a list of shipments.","operationId":"get_shipments_shipments_get","parameters":[{"name":"shipment_name","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"default":[],"title":"Shipment Name"}},{"name":"status","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"default":[],"title":"Status"}},{"name":"page","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"default":1,"title":"Page"}},{"name":"page_size","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"default":25,"title":"Page Size"}},{"name":"sorting","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"default":"","title":"Sorting"}}],"responses":{"200":{"description":"List of shipments with pagination","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShipmentListingResponse"},"examples":{"multiple_shipments":{"summary":"Multiple shipments across different industries","description":"Paginated list showing various shipment types and statuses across different organizational units","value":{"shipments":[{"shipment_id":"f47ac10b-58cc-4372-a567-0e02b2c3d479","shipment_name":"Apple iPhone Components - Q1 2024","organization":"ACME_CORP","organizational_units":["Electronics Division","Mobile Devices"],"status":"In Transit","active":true},{"shipment_id":"f47ac10b-58cc-4372-a567-0e02b2c3d480","shipment_name":"Tesla Battery Modules - Shanghai to Fremont","organization":"ACME_CORP","organizational_units":["Automotive Division"],"status":"Complete","active":true},{"shipment_id":"f47ac10b-58cc-4372-a567-0e02b2c3d481","shipment_name":"Medical Supplies - Emergency Procurement","organization":"ACME_CORP","organizational_units":["Healthcare Division"],"status":"Detained","active":true},{"shipment_id":"f47ac10b-58cc-4372-a567-0e02b2c3d482","shipment_name":"Boeing 737 Aerospace Components","organization":"ACME_CORP","organizational_units":["Aerospace Division"],"status":"Created","active":true}],"pagination":{"current_page":1,"page_size":10,"total_pages":3,"total_records":25},"filters":{"shipment_name":[],"status":[]},"sorting":["shipment_name:asc"]}},"filtered_shipments":{"summary":"Filtered shipments by status","description":"Shipments filtered to show only those in transit","value":{"shipments":[{"shipment_id":"f47ac10b-58cc-4372-a567-0e02b2c3d483","shipment_name":"Samsung Galaxy Supply Chain - Asia Pacific","organization":"ACME_CORP","organizational_units":["Electronics Division"],"status":"In Transit","active":true},{"shipment_id":"f47ac10b-58cc-4372-a567-0e02b2c3d484","shipment_name":"Ford F-150 Parts - Mexico to Detroit","organization":"ACME_CORP","organizational_units":["Automotive Division"],"status":"In Transit","active":true}],"pagination":{"current_page":1,"page_size":10,"total_pages":1,"total_records":2},"filters":{"shipment_name":[],"status":["In Transit"]},"sorting":["departure_date:desc"]}},"empty_results":{"summary":"No matching shipments","description":"Query returned no matching shipments","value":{"shipments":[],"pagination":{"current_page":1,"page_size":10,"total_pages":0,"total_records":0},"filters":{"shipment_name":["Non-existent Shipment"],"status":[]},"sorting":[]}}}}}},"400":{"description":"Bad request - invalid parameters","content":{"application/json":{"examples":{"no_organizational_units":{"summary":"User lacks organizational units","value":{"detail":"User does not have any organizational units"}},"invalid_paging":{"summary":"Invalid paging parameters","value":{"detail":"Invalid Paging Parameters"}}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Shipments"],"summary":"Create Shipment","description":"Creates a new shipment. **REST API Best Practice**: This endpoint should be used for creating new shipments only. For updating existing shipments, a PUT /shipments/{shipment_id} endpoint should be used instead. Currently, this endpoint supports both operations for backward compatibility: if shipment_id is provided, the shipment will be updated; if no shipment_id is provided, a new shipment will be created. All organizational units specified in the request must be accessible to the user. The API supports multiple organizational units per shipment to enable flexible organization structure management. Auto-creates LEI and ITI credentials if organization has AUTO_CREATE_SHIPMENT_CREDENTIALS enabled.","operationId":"create_shipment_shipments_post","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateShipmentRequest"},"examples":{"create_electronics_shipment":{"summary":"Create New Electronics Shipment","description":"Create new shipment for Apple iPhone components","value":{"shipment_name":"AAPL-2024-Q1-iPhone-Components","origin":"Shenzhen, Guangdong, China","destination":"Cupertino, CA, USA","departure_date":"2024-03-01T08:00:00Z","arrival_date":"2024-03-15T16:30:00Z","status":"Created","active":true,"organizational_units":["electronics","supply-chain"]}},"update_existing_shipment":{"summary":"Update Existing Shipment","description":"Update Tesla battery shipment with new arrival date.","value":{"shipment_id":"6ba7b810-9dad-11d1-80b4-00c04fd430c8","shipment_name":"TSLA-2024-Model3-Batteries","origin":"Shanghai, China","destination":"Fremont, CA, USA","departure_date":"2024-02-20T10:00:00Z","arrival_date":"2024-03-10T14:45:00Z","status":"In Transit","active":true,"organizational_units":["automotive","batteries"]}},"create_detained_shipment":{"summary":"Create Detained Shipment","description":"Create medical supplies shipment with detention ID","value":{"shipment_name":"MedSupply-2024-PPE-Emergency","origin":"Hamburg, Germany","destination":"New York, NY, USA","departure_date":"2024-03-05T06:00:00Z","arrival_date":"2024-03-20T12:00:00Z","status":"Detained","active":true,"organizational_units":["medical","emergency"],"detention_id":"CBP-DET-2024-001234"}},"minimal_shipment":{"summary":"Minimal Required Fields","description":"Shipment with only required fields","value":{"shipment_name":"Basic-Shipment-2024","status":"Created","organizational_units":["default"]}}}}}},"responses":{"200":{"description":"Shipment created or updated successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShipmentDetailResponse"},"examples":{"created_electronics_shipment":{"summary":"Created Electronics Shipment","description":"New shipment created for Apple iPhone components from China","value":{"shipment_id":"f47ac10b-58cc-4372-a567-0e02b2c3d479","shipment_name":"AAPL-2024-Q1-iPhone-Components","organization":"apple-inc","organizational_unit":["electronics","supply-chain"],"folder":"AAPL-2024-Q1-iPhone-Components","origin":"Shenzhen, Guangdong, China","destination":"Cupertino, CA, USA","departure_date":"2024-03-01T08:00:00Z","arrival_date":"2024-03-15T16:30:00Z","status":"Created","active":true}},"updated_automotive_shipment":{"summary":"Updated Automotive Shipment","description":"Existing Tesla battery shipment updated with arrival date.","value":{"shipment_id":"6ba7b810-9dad-11d1-80b4-00c04fd430c8","shipment_name":"TSLA-2024-Model3-Batteries","organization":"tesla-motors","organizational_unit":["automotive","batteries"],"folder":"TSLA-2024-Model3-Batteries","origin":"Shanghai, China","destination":"Fremont, CA, USA","departure_date":"2024-02-20T10:00:00Z","arrival_date":"2024-03-10T14:45:00Z","status":"In Transit","active":true}},"detained_medical_shipment":{"summary":"Detained Medical Shipment","description":"Medical supplies shipment detained at customs","value":{"shipment_id":"550e8400-e29b-41d4-a716-446655440000","shipment_name":"MedSupply-2024-PPE-Emergency","organization":"medsupply-corp","organizational_unit":["medical","emergency"],"detention_id":"CBP-DET-2024-001234","folder":"MedSupply-2024-PPE-Emergency","origin":"Hamburg, Germany","destination":"New York, NY, USA","departure_date":"2024-03-05T06:00:00Z","arrival_date":"2024-03-20T12:00:00Z","status":"Detained","active":true}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"examples":{"duplicate_name":{"summary":"Duplicate shipment name","value":{"detail":"Shipment name already exists and no id was provided - Not unique"}},"invalid_status":{"summary":"Invalid shipment status","value":{"detail":"Invalid shipment status"}},"missing_org_units":{"summary":"Missing organizational units","value":{"detail":"Organizational units are required"}}}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"examples":{"creation_error":{"summary":"Shipment creation failed","value":{"detail":"An error occurred creating the shipment"}}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/shipments/{shipment_id}":{"get":{"tags":["Shipments"],"summary":"Get Shipment","description":"Get a shipment by ID.","operationId":"get_shipment_by_id_shipments__shipment_id__get","parameters":[{"name":"shipment_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Shipment Id"}}],"responses":{"200":{"description":"Shipment details retrieved successfully","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/ShipmentDetailResponse"},{"type":"null"}],"title":"Response Get Shipment By Id Shipments  Shipment Id  Get"},"examples":{"electronics_shipment":{"summary":"Electronics shipment in transit","description":"Apple iPhone components shipment from China to USA","value":{"shipment_id":"f47ac10b-58cc-4372-a567-0e02b2c3d479","shipment_name":"Apple iPhone 15 Components - Q4 2024","organization":"ACME_CORP","organizational_unit":["Electronics Division","Mobile Devices"],"folder":"electronics/apple/iphone15","origin":"Shenzhen, China","destination":"Cupertino, CA, USA","departure_date":"2024-03-15T08:00:00Z","arrival_date":"2024-03-25T14:30:00Z","status":"In Transit","active":true}},"detained_shipment":{"summary":"Detained medical shipment","description":"Medical equipment shipment detained during customs inspection","value":{"shipment_id":"f47ac10b-58cc-4372-a567-0e02b2c3d480","shipment_name":"Medical Equipment - Emergency Supply","organization":"ACME_CORP","organizational_unit":["Healthcare Division"],"detention_id":"DET-2024-0315-001","folder":"healthcare/medical_equipment","origin":"Frankfurt, Germany","destination":"New York, NY, USA","departure_date":"2024-03-10T10:00:00Z","status":"Detained","active":true}},"completed_automotive":{"summary":"Completed automotive shipment","description":"Tesla battery modules successfully delivered","value":{"shipment_id":"f47ac10b-58cc-4372-a567-0e02b2c3d481","shipment_name":"Tesla Model Y Battery Modules - Shanghai to Fremont","organization":"ACME_CORP","organizational_unit":["Automotive Division","EV Components"],"folder":"automotive/tesla/battery_modules","origin":"Shanghai, China","destination":"Fremont, CA, USA","departure_date":"2024-02-20T06:00:00Z","arrival_date":"2024-03-05T11:45:00Z","status":"Complete","active":true}}}}}},"400":{"description":"Bad request - invalid parameters","content":{"application/json":{"examples":{"invalid_request":{"summary":"User lacks organizational units or invalid ID","value":{"detail":"User does not have any organizational units or shipment ID is invalid"}}}}}},"404":{"description":"Shipment not found","content":{"application/json":{"examples":{"not_found":{"summary":"Shipment does not exist","value":{"detail":"Shipment not found"}}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/shipment/{shipment_id}/sirs":{"get":{"tags":["Shipments"],"summary":"Get supplier information requests","description":"Get shipment supplier information requests","operationId":"get_shipment_sirs_shipment__shipment_id__sirs_get","parameters":[{"name":"shipment_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Shipment Id"}},{"name":"supplier_name","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"default":[],"title":"Supplier Name"}},{"name":"supplier_jurisdiction","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"default":[],"title":"Supplier Jurisdiction"}},{"name":"mesur_risk_score","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"default":[],"title":"Mesur Risk Score"}},{"name":"status","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"default":[],"title":"Status"}},{"name":"page","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"default":1,"title":"Page"}},{"name":"page_size","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"default":25,"title":"Page Size"}},{"name":"sorting","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"default":"","title":"Sorting"}}],"responses":{"200":{"description":"List of supplier information requests for the shipment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SupplierInformationRequestListing"},"examples":{"multiple_sirs":{"summary":"Multiple SIRs with various statuses","description":"Comprehensive list of supplier information requests with different risk scores and statuses","value":{"requests":[{"sir_id":"f47ac10b-58cc-4372-a567-0e02b2c3d479","supplier_name":"Foxconn Technology Group","supplier_jurisdiction":"TW","status":"Documents Received","mesur_risk_score":572.5},{"sir_id":"6ba7b810-9dad-11d1-80b4-00c04fd430c8","supplier_name":"Samsung Electronics Co., Ltd.","supplier_jurisdiction":"KR","status":"Documents Requested","mesur_risk_score":565.0},{"sir_id":"6ba7b811-9dad-11d1-80b4-00c04fd430c8","supplier_name":"Taiwan Semiconductor Manufacturing Company","supplier_jurisdiction":"TW","status":"Not Contacted","mesur_risk_score":558.3},{"sir_id":"6ba7b812-9dad-11d1-80b4-00c04fd430c8","supplier_name":"LG Display Co., Ltd.","supplier_jurisdiction":"KR","status":"Eliminated","mesur_risk_score":545.2}],"pagination":{"current_page":1,"page_size":20,"total_pages":1,"total_records":4},"sorting":["supplier_name:asc"],"filters":{"supplier_name":[],"supplier_jurisdiction":[],"status":[],"mesur_risk_score":[]}}},"filtered_by_status":{"summary":"SIRs filtered by status","description":"Only showing SIRs with 'Documents Requested' status","value":{"requests":[{"sir_id":"550e8400-e29b-41d4-a716-446655440000","supplier_name":"BYD Company Limited","supplier_jurisdiction":"CN","status":"Documents Requested","mesur_risk_score":578.9},{"sir_id":"550e8400-e29b-41d4-a716-446655440001","supplier_name":"Contemporary Amperex Technology","supplier_jurisdiction":"CN","status":"Documents Requested","mesur_risk_score":582.1}],"pagination":{"current_page":1,"page_size":20,"total_pages":1,"total_records":2},"sorting":["mesur_risk_score:desc"],"filters":{"supplier_name":[],"supplier_jurisdiction":[],"status":["Documents Requested"],"mesur_risk_score":[]}}},"empty_results":{"summary":"No SIRs found","description":"Empty result when no supplier information requests exist for the shipment","value":{"requests":[],"pagination":{"current_page":1,"page_size":20,"total_pages":0,"total_records":0},"sorting":[],"filters":{"supplier_name":[],"supplier_jurisdiction":[],"status":[],"mesur_risk_score":[]}}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"examples":{"no_org_units":{"summary":"No organizational units","value":{"detail":"User does not have any organizational units"}},"invalid_paging":{"summary":"Invalid paging parameters","value":{"detail":"Invalid Paging Parameters"}}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/shipment/sirs/{sir_id}":{"get":{"tags":["Shipments"],"summary":"Get supplier information request","description":"Get a shipment SIR by ID","operationId":"get_shipment_sir_shipment_sirs__sir_id__get","parameters":[{"name":"sir_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Sir Id"}}],"responses":{"200":{"description":"Detailed supplier information request","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/SupplierInformationRequestDetailResponse"},{"type":"null"}],"title":"Response Get Shipment Sir Shipment Sirs  Sir Id  Get"},"examples":{"complete_sir":{"summary":"Complete SIR with all details","description":"Fully populated supplier information request with parent company and reports","value":{"sir_id":"f47ac10b-58cc-4372-a567-0e02b2c3d479","shipment_id":"123e4567-e89b-12d3-a456-426614174000","supplier_name":"Foxconn Technology Group","supplier_jurisdiction":"TW","supplier_parent_name":"Hon Hai Precision Industry Co., Ltd.","supplier_parent_jurisdiction":"TW","supplier_domain":"foxconn.example","supplier_address":"No. 66, Zhongshan Road, Tucheng District, New Taipei City 236, Taiwan","status":"Documents Received","mesur_risk_score":572.5,"supplier_hs_codes":"8471,8473,8517,8542","related_parts":"iPhone displays, circuit boards, battery modules","product":"Consumer Electronics Components","timeframe_start":"2024-01-01","timeframe_stop":"2024-12-31","reports":["TASA_2024_Q1_FOXCONN","CPR_2024_FOXCONN"],"entity_id":"507f1f77bcf86cd799439011"}},"minimal_sir":{"summary":"Minimal SIR - Not Contacted","description":"SIR with only required fields, supplier not yet contacted","value":{"sir_id":"6ba7b810-9dad-11d1-80b4-00c04fd430c8","shipment_id":"550e8400-e29b-41d4-a716-446655440000","supplier_name":"Samsung Electronics Co., Ltd.","supplier_jurisdiction":"KR","status":"Not Contacted"}},"documents_requested":{"summary":"SIR with Documents Requested","description":"Supplier contacted, awaiting documentation","value":{"sir_id":"6ba7b811-9dad-11d1-80b4-00c04fd430c8","shipment_id":"550e8400-e29b-41d4-a716-446655440001","supplier_name":"BYD Company Limited","supplier_jurisdiction":"CN","supplier_parent_name":"BYD Group","supplier_parent_jurisdiction":"CN","supplier_domain":"byd.example","supplier_address":"No.3009, BYD Road, Pingshan, Shenzhen, 518118, P.R.China","status":"Documents Requested","mesur_risk_score":78.9,"supplier_hs_codes":"8507,8708,8703","related_parts":"EV batteries, battery management systems","product":"Electric Vehicle Components","timeframe_start":"2024-03-01","timeframe_stop":"2024-09-30","entity_id":"507f191e810c19729de860ea"}},"eliminated_supplier":{"summary":"Eliminated Supplier","description":"Supplier eliminated from supply chain","value":{"sir_id":"6ba7b812-9dad-11d1-80b4-00c04fd430c8","shipment_id":"550e8400-e29b-41d4-a716-446655440002","supplier_name":"Huawei Technologies Co., Ltd.","supplier_jurisdiction":"CN","supplier_domain":"huawei.example","supplier_address":"Huawei Base, Bantian, Longgang District, Shenzhen 518129, China","status":"Eliminated","mesur_risk_score":95.2,"supplier_hs_codes":"8517,8471","related_parts":"5G network equipment","product":"Telecommunications Equipment","timeframe_start":"2024-01-01","timeframe_stop":"2024-01-31","reports":["RISK_ASSESSMENT_HUAWEI_2024"],"entity_id":"507f191e810c19729de860eb"}}}}}},"404":{"description":"Not Found","content":{"application/json":{"examples":{"not_found":{"summary":"SIR not found","value":{"detail":"Supplier Information Request not found"}}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/shipment/sirs/{sir_id}/suggested_contact_info":{"get":{"tags":["Shipments"],"summary":"Get supplier point of contact","description":"Look up suggested contact info for a SIR","operationId":"get_shipment_sir_contact_info_shipment_sirs__sir_id__suggested_contact_info_get","parameters":[{"name":"sir_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Sir Id"}}],"responses":{"200":{"description":"Suggested contact information for the supplier","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/SupplierInformationSuggestedContactResponse"},{"type":"null"}],"title":"Response Get Shipment Sir Contact Info Shipment Sirs  Sir Id  Suggested Contact Info Get"},"examples":{"complete_contact":{"summary":"Complete contact information","description":"Full contact details with address and multiple citations","value":{"info_type":"Headquarters","name":"Foxconn Technology Group - Global Headquarters","website":"https://www.foxconn.example","contactPhone":"+886-2-2268-3466","address":{"streetAddress":"No. 66, Zhongshan Road","addressLine2":"Building A, 5th Floor","city":"Tucheng District","stateOrProvince":"New Taipei City","postalCode":"236","country":"Taiwan"},"citations":[{"source":"Bloomberg Company Profile","url":"https://www.bloomberg.example/profile/company/2317:TT"},{"source":"Official Company Website","url":"https://www.foxconn.example/en-us/contact"}]}},"minimal_contact":{"summary":"Minimal contact information","description":"Basic contact details without address","value":{"info_type":"Sales Office","name":"Samsung Electronics America","website":"https://www.samsung.example/us/business","contactPhone":"+1-866-726-4249","citations":[{"source":"Samsung Business Portal","url":"https://www.samsung.example/us/business/contact"}]}},"regional_office":{"summary":"Regional office contact","description":"Regional office with partial address information","value":{"info_type":"Regional Office - APAC","name":"BYD Company Limited - Asia Pacific","website":"https://www.byd.example","contactPhone":"+86-755-8988-8888","address":{"streetAddress":"No.3009, BYD Road","city":"Pingshan","stateOrProvince":"Shenzhen","postalCode":"518118","country":"China"},"citations":[{"source":"BYD Corporate Directory","url":"https://www.byd.example/en/contact.html"}]}},"no_contact_found":{"summary":"No contact information available","description":"Empty response when no contact info is found"}}}}},"404":{"description":"Not Found","content":{"application/json":{"examples":{"sir_not_found":{"summary":"SIR not found","value":{"detail":"Supplier Information Request not found"}}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/shipment/sirs/{sir_id}/status":{"post":{"tags":["Shipments"],"summary":"Update supplier information request status","description":"Update the status of a shipment SIR by ID","operationId":"update_shipment_sir_status_shipment_sirs__sir_id__status_post","parameters":[{"name":"sir_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Sir Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Body_update_shipment_sir_status_shipment_sirs__sir_id__status_post"},"examples":{"not_contacted":{"summary":"Set status to Not Contacted","value":{"status":"Not Contacted"}},"documents_requested":{"summary":"Set status to Documents Requested","value":{"status":"Documents Requested"}},"documents_received":{"summary":"Set status to Documents Received","value":{"status":"Documents Received"}},"eliminated":{"summary":"Set status to Eliminated","value":{"status":"Eliminated"}}}}}},"responses":{"200":{"description":"Successfully updated SIR status","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/SupplierInformationRequestDetailResponse"},{"type":"null"}],"title":"Response Update Shipment Sir Status Shipment Sirs  Sir Id  Status Post"},"examples":{"status_to_documents_requested":{"summary":"Status updated to Documents Requested","description":"SIR status changed from Not Contacted to Documents Requested","value":{"sir_id":"f47ac10b-58cc-4372-a567-0e02b2c3d479","shipment_id":"123e4567-e89b-12d3-a456-426614174000","supplier_name":"Foxconn Technology Group","supplier_jurisdiction":"TW","supplier_parent_name":"Hon Hai Precision Industry Co., Ltd.","supplier_parent_jurisdiction":"TW","supplier_domain":"foxconn.example","supplier_address":"No. 66, Zhongshan Road, Tucheng District, New Taipei City 236, Taiwan","status":"Documents Requested","mesur_risk_score":72.5,"supplier_hs_codes":"8471,8473,8517,8542","related_parts":"iPhone displays, circuit boards, battery modules","product":"Consumer Electronics Components","timeframe_start":"2024-01-01","timeframe_stop":"2024-12-31","entity_id":"507f1f77bcf86cd799439011"}},"status_to_documents_received":{"summary":"Status updated to Documents Received","description":"SIR status changed from Documents Requested to Documents Received","value":{"sir_id":"6ba7b810-9dad-11d1-80b4-00c04fd430c8","shipment_id":"550e8400-e29b-41d4-a716-446655440000","supplier_name":"Samsung Electronics Co., Ltd.","supplier_jurisdiction":"KR","supplier_parent_name":"Samsung Group","supplier_parent_jurisdiction":"KR","supplier_domain":"samsung.example","supplier_address":"129 Samsung-ro, Yeongtong-gu, Suwon-si, Gyeonggi-do, South Korea","status":"Documents Received","mesur_risk_score":65.0,"supplier_hs_codes":"8542,8473,8517","related_parts":"Memory chips, display panels, processors","product":"Semiconductor Components","timeframe_start":"2024-02-01","timeframe_stop":"2024-11-30","reports":["TASA_2024_Q2_SAMSUNG"],"entity_id":"507f191e810c19729de860ea"}},"status_to_eliminated":{"summary":"Status updated to Eliminated","description":"SIR status changed to Eliminated due to high risk score","value":{"sir_id":"6ba7b811-9dad-11d1-80b4-00c04fd430c8","shipment_id":"550e8400-e29b-41d4-a716-446655440001","supplier_name":"Huawei Technologies Co., Ltd.","supplier_jurisdiction":"CN","supplier_domain":"huawei.example","supplier_address":"Huawei Base, Bantian, Longgang District, Shenzhen 518129, China","status":"Eliminated","mesur_risk_score":95.2,"supplier_hs_codes":"8517,8471","related_parts":"5G network equipment","product":"Telecommunications Equipment","timeframe_start":"2024-01-01","timeframe_stop":"2024-01-31","reports":["RISK_ASSESSMENT_HUAWEI_2024"],"entity_id":"507f191e810c19729de860eb"}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"examples":{"invalid_status":{"summary":"Invalid status value","value":{"detail":"Invalid status value"}}}}}},"404":{"description":"Not Found","content":{"application/json":{"examples":{"sir_not_found":{"summary":"SIR not found","value":{"detail":"Supplier Information Request not found"}}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/shipment/{shipment_id}/upload":{"post":{"tags":["Shipments"],"summary":"Upload a document to a shipment","description":"Upload a single file to a shipment folder in cloud storage. Only single file uploads are supported. Files can be organized into subdirectories using the path parameter.","operationId":"upload_shipment_file_shipment__shipment_id__upload_post","parameters":[{"name":"shipment_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Shipment Id"}},{"name":"path","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Path to upload the file to within the shipment folder for example 'Products/1234'","title":"Path"},"description":"Path to upload the file to within the shipment folder for example 'Products/1234'"}],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/Body_upload_shipment_file_shipment__shipment_id__upload_post"}}}},"responses":{"200":{"description":"File uploaded successfully","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/ShipmentUploadResponse"},{"type":"null"}],"title":"Response Upload Shipment File Shipment  Shipment Id  Upload Post"},"examples":{"pdf_invoice_upload":{"summary":"PDF Invoice Upload","description":"Successfully uploaded commercial invoice PDF to shipment","value":{"success":true,"shipment_id":"f47ac10b-58cc-4372-a567-0e02b2c3d479","url":"Not downloadable"}},"excel_packing_list":{"summary":"Excel Packing List Upload","description":"Successfully uploaded packing list to Documents subfolder","value":{"success":true,"shipment_id":"6ba7b810-9dad-11d1-80b4-00c04fd430c8","url":"Not downloadable"}},"certificate_upload":{"summary":"Certificate Upload","description":"Successfully uploaded certificate of origin to Certificates folder","value":{"success":true,"shipment_id":"550e8400-e29b-41d4-a716-446655440000","url":"Not downloadable"}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"examples":{"multiple_files":{"summary":"Multiple files not supported","value":{"detail":"Multiple file uploads are not supported."}},"no_filename":{"summary":"Missing filename","value":{"detail":"No filename specified."}},"invalid_session":{"summary":"Invalid session","value":{"detail":"Invalid session."}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"examples":{"no_organization":{"summary":"No organization for user","value":{"detail":"No organization for user."}}}}}},"404":{"description":"Not Found","content":{"application/json":{"examples":{"shipment_not_found":{"summary":"Shipment not found","value":{"detail":"Shipment not found."}}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/shipments/{shipment_id}/cbps":{"get":{"tags":["Shipments"],"summary":"Get CBP Requests for Shipment","description":"Get a list of CBP requests for a shipment.","operationId":"get_cbp_requests_for_shipment_shipments__shipment_id__cbps_get","parameters":[{"name":"shipment_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Shipment Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CBPRequestListing"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/shipments/{shipment_id}/cbps/{vc_id}":{"get":{"tags":["Shipments"],"summary":"Get CBP Requests for Shipment and VC","description":"Get a list of CBP requests for a specific VC in a shipment.","operationId":"get_cbp_requests_for_shipment_and_vc_shipments__shipment_id__cbps__vc_id__get","parameters":[{"name":"shipment_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Shipment Id"}},{"name":"vc_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Vc Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CBPRequestListing"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/file/upload":{"post":{"tags":["Documents"],"summary":"Upload a file","description":"Uploads a file to a specific folder within your organization.","operationId":"upload_file_file_upload_post","parameters":[{"name":"path","in":"query","required":true,"schema":{"type":"string","title":"Path"}}],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/Body_upload_file_file_upload_post"}}}},"responses":{"200":{"description":"File uploaded successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileUploadRe
[...]
